.btn.btn-clear {
  background-color: transparent !important;
  border-color: #e9e9e9 !important;
  color: #e9e9e9 !important;
  transition: all 0.3s ease-in-out;
}
.btn.btn-clear:hover,
.btn.btn-clear:active {
  background-color: #008cba !important;
  border-color: #0079a1 !important;
  color: #fff;
}
