/* Flat UI Colors */

@import 'variables';

.bg- {
  &turquoise { background: @turquoise; }
  &emerland { background: @emerland; }
  &peterriver { background: @peterriver; }
  &amethystflat { background: @amethystflat; } //duplicated
  &wetasphalt { background: @wetasphalt; }
  &greensea { background: @greensea; }
  &nephritis { background: @nephritis; }
  &belizehole { background: @belizehole; }
  &wisteria { background: @wisteria; }
  &midnightblueflat { background: @midnightblueflat; } //duplicated
  &sunflower { background: @sunflower; }
  &carrot { background: @carrot; }
  &alizarin { background: @alizarin; }
  &clouds { background: @clouds; }
  &concrete { background: @concrete; }
  &orange { background: @orange; }
  &pumpkin { background: @pumpkin; }
  &pomegranate { background: @pomegranate; }
  &silverflat { background: @silverflat; } //duplicated
  &asbestos { background: @asbestos; }

  &metabootstrap-red { background: @metabootstrap-red; }

  &white { background: #fff; }
  &black { background: #000; }

  &eerieblack { background: @eerieblack; }
  &granitegray { background: @granitegray; }
  &sonicsilver { background: @sonicsilver; }
  &quicksilver { background: @quicksilver; }
  &culturedpearl { background: @culturedpearl; }
  &coconut { background: @coconut; }
  &fuzzywuzzy { background: @fuzzywuzzy; }
  &rose { background: @rose; }
  &orangered { background: @orangered; }
  &tartorange { background: @tartorange; }
  &chestnut { background: @chestnut; }
  &sweetbrown { background: @sweetbrown; }
  &redorange { background: @redorange; }
  &sunsetorange { background: @sunsetorange; }
  &copperpenny { background: @copperpenny; }
  &licorice { background: @licorice; }
  &giantsclub { background: @giantsclub; }
  &bittersweet { background: @bittersweet; }
  &ogreodor { background: @ogreodor; }
  &melon { background: @melon; }
  &burnishedbrown { background: @burnishedbrown; }
  &cedarchest { background: @cedarchest; }
  &jellybean { background: @jellybean; }
  &jasper { background: @jasper; }
  &orangesoda { background: @orangesoda; }
  &blastoffbronze { background: @blastoffbronze; }
  &vividtangerine { background: @vividtangerine; }
  &outrageousorange { background: @outrageousorange; }
  &burntsienna { background: @burntsienna; }
  &brown { background: @brown; }
  &smokeytopaz { background: @smokeytopaz; }
  &silver { background: @silver; }
  &smashedpumpkin { background: @smashedpumpkin; }
  &copper { background: @copper; }
  &sepia { background: @sepia; }
  &mandarinpearl { background: @mandarinpearl; }
  &burntorange { background: @burntorange; }
  &orange { background: @orange; }
  &brownsugar { background: @brownsugar; }
  &mangotango { background: @mangotango; }
  &citrine { background: @citrine; }
  &atomictangerine { background: @atomictangerine; }
  &beaver { background: @beaver; }
  &antiquebrass { background: @antiquebrass; }
  &chocolate { background: @chocolate; }
  &bigfootfeet { background: @bigfootfeet; }
  &desertsand { background: @desertsand; }
  &tumbleweed { background: @tumbleweed; }
  &rawsienna { background: @rawsienna; }
  &tan { background: @tan; }
  &peach { background: @peach; }
  &macaronicheese { background: @macaronicheese; }
  &alloyorange { background: @alloyorange; }
  &lumber { background: @lumber; }
  &dirt { background: @dirt; }
  &heatwave { background: @heatwave; }
  &almond { background: @almond; }
  &apricot { background: @apricot; }
  &rawumber { background: @rawumber; }
  &neoncarrot { background: @neoncarrot; }
  &tigerseye { background: @tigerseye; }
  &timberwolf { background: @timberwolf; }
  &gray { background: @gray; }
  &gold { background: @gold; }
  &yelloworange { background: @yelloworange; }
  &shadow { background: @shadow; }
  &brightyellow { background: @brightyellow; }
  &aztecgold { background: @aztecgold; }
  &maize { background: @maize; }
  &metallicsunburst { background: @metallicsunburst; }
  &sunsetpearl { background: @sunsetpearl; }
  &bananamania { background: @bananamania; }
  &goldfusion { background: @goldfusion; }
  &goldenrod { background: @goldenrod; }
  &sunglow { background: @sunglow; }
  &orangeyellow { background: @orangeyellow; }
  &dandelion { background: @dandelion; }
  &banana { background: @banana; }
  &yellow { background: @yellow; }
  &gargoylegas { background: @gargoylegas; }
  &sizzlingsunrise { background: @sizzlingsunrise; }
  &mistymoss { background: @mistymoss; }
  &greenyellow { background: @greenyellow; }
  &lemonyellow { background: @lemonyellow; }
  &springgreen { background: @springgreen; }
  &olivegreen { background: @olivegreen; }
  &yellowsunshine { background: @yellowsunshine; }
  &babypowder { background: @babypowder; }
  &canary { background: @canary; }
  &sunnypearl { background: @sunnypearl; }
  &unmellowyellow { background: @unmellowyellow; }
  &lemon { background: @lemon; }
  &daffodil { background: @daffodil; }
  &laserlemon { background: @laserlemon; }
  &lemonglacier { background: @lemonglacier; }
  &peridot { background: @peridot; }
  &boogerbuster { background: @boogerbuster; }
  &keylimepearl { background: @keylimepearl; }
  &electriclime { background: @electriclime; }
  &lime { background: @lime; }
  &yellowgreen { background: @yellowgreen; }
  &sheengreen { background: @sheengreen; }
  &inchworm { background: @inchworm; }
  &greenlizard { background: @greenlizard; }
  &alienarmpit { background: @alienarmpit; }
  &asparagus { background: @asparagus; }
  &springfrost { background: @springfrost; }
  &slimygreen { background: @slimygreen; }
  &grannysmithapple { background: @grannysmithapple; }
  &screamingreen { background: @screamingreen; }
  &fern { background: @fern; }
  &mummystomb { background: @mummystomb; }
  &smoke { background: @smoke; }
  &leatherjacket { background: @leatherjacket; }
  &forestgreen { background: @forestgreen; }
  &caribbeangreenpearl { background: @caribbeangreenpearl; }
  &shinyshamrock { background: @shinyshamrock; }
  &seagreen { background: @seagreen; }
  &magicmint { background: @magicmint; }
  &pine { background: @pine; }
  &oceangreenpearl { background: @oceangreenpearl; }
  &green { background: @green; }
  &shamrock { background: @shamrock; }
  &eucalyptus { background: @eucalyptus; }
  &mountainmeadow { background: @mountainmeadow; }
  &junglegreen { background: @junglegreen; }
  &jade { background: @jade; }
  &illuminatingemerald { background: @illuminatingemerald; }
  &caribbeangreen { background: @caribbeangreen; }
  &polishedpine { background: @polishedpine; }
  &wintergreendream { background: @wintergreendream; }
  &emerald { background: @emerald; }
  &greensheen { background: @greensheen; }
  &tropicalrainforest { background: @tropicalrainforest; }
  &pinegreen { background: @pinegreen; }
  &robinseggblue { background: @robinseggblue; }
  &steelteal { background: @steelteal; }
  &malachite { background: @malachite; }
  &aquamarine { background: @aquamarine; }
  &seaserpent { background: @seaserpent; }
  &turquoiseblue { background: @turquoiseblue; }
  &tealblue { background: @tealblue; }
  &metallicseaweed { background: @metallicseaweed; }
  &blizzardblue { background: @blizzardblue; }
  &turquoisepearl { background: @turquoisepearl; }
  &skyblue { background: @skyblue; }
  &outerspace { background: @outerspace; }
  &moonstone { background: @moonstone; }
  &pacificblue { background: @pacificblue; }
  &bluegreen { background: @bluegreen; }
  &aquapearl { background: @aquapearl; }
  &deepspacesparkle { background: @deepspacesparkle; }
  &cerulean { background: @cerulean; }
  &onyx { background: @onyx; }
  &steelblue { background: @steelblue; }
  &freshair { background: @freshair; }
  &winterwizard { background: @winterwizard; }
  &pewterblue { background: @pewterblue; }
  &cornflower { background: @cornflower; }
  &bluejeans { background: @bluejeans; }
  &ceruleanfrost { background: @ceruleanfrost; }
  &blackcoralpearl { background: @blackcoralpearl; }
  &greenblue { background: @greenblue; }
  &bluegray { background: @bluegray; }
  &midnightblue { background: @midnightblue; }
  &navyblue { background: @navyblue; }
  &shadowblue { background: @shadowblue; }
  &bdazzledblue { background: @bdazzledblue; }
  &sapphire { background: @sapphire; }
  &denim { background: @denim; }
  &blue { background: @blue; }
  &absolutezero { background: @absolutezero; }
  &lapislazuli { background: @lapislazuli; }
  &periwinkle { background: @periwinkle; }
  &blueberry { background: @blueberry; }
  &cadetblue { background: @cadetblue; }
  &newcar { background: @newcar; }
  &wildblueyonder { background: @wildblueyonder; }
  &indigo { background: @indigo; }
  &denimblue { background: @denimblue; }
  &violetblue { background: @violetblue; }
  &manatee { background: @manatee; }
  &bluebell { background: @bluebell; }
  &cosmiccobalt { background: @cosmiccobalt; }
  &amethyst { background: @amethyst; }
  &oceanbluepearl { background: @oceanbluepearl; }
  &soap { background: @soap; }
  &blueviolet { background: @blueviolet; }
  &plumppurple { background: @plumppurple; }
  &pixiepowder { background: @pixiepowder; }
  &purpleheart { background: @purpleheart; }
  &cybergrape { background: @cybergrape; }
  &royalpurple { background: @royalpurple; }
  &purplemountainsmajesty { background: @purplemountainsmajesty; }
  &grape { background: @grape; }
  &violetpurple { background: @violetpurple; }
  &wisteria { background: @wisteria; }
  &glossygrape { background: @glossygrape; }
  &purpleplum { background: @purpleplum; }
  &lilac { background: @lilac; }
  &vividviolet { background: @vividviolet; }
  &fuchsia { background: @fuchsia; }
  &shockingpink { background: @shockingpink; }
  &pinkflamingo { background: @pinkflamingo; }
  &midnightpearl { background: @midnightpearl; }
  &plum { background: @plum; }
  &razzmicberry { background: @razzmicberry; }
  &bubblegum { background: @bubblegum; }
  &lilacluster { background: @lilacluster; }
  &purplepizzazz { background: @purplepizzazz; }
  &hotmagenta { background: @hotmagenta; }
  &orchid { background: @orchid; }
  &razzledazzlerose { background: @razzledazzlerose; }
  &pearlypurple { background: @pearlypurple; }
  &shampoo { background: @shampoo; }
  &rosequartz { background: @rosequartz; }
  &thistle { background: @thistle; }
  &frostbite { background: @frostbite; }
  &princessperfume { background: @princessperfume; }
  &redviolet { background: @redviolet; }
  &sugarplum { background: @sugarplum; }
  &mulberry { background: @mulberry; }
  &eggplant { background: @eggplant; }
  &twilightlavender { background: @twilightlavender; }
  &magenta { background: @magenta; }
  &mysticmaroon { background: @mysticmaroon; }
  &cerise { background: @cerise; }
  &wildstrawberry { background: @wildstrawberry; }
  &wintersky { background: @wintersky; }
  &lavender { background: @lavender; }
  &cottoncandy { background: @cottoncandy; }
  &carnationpink { background: @carnationpink; }
  &orchidpearl { background: @orchidpearl; }
  &violetred { background: @violetred; }
  &ruby { background: @ruby; }
  &mysticpearl { background: @mysticpearl; }
  &razzmatazz { background: @razzmatazz; }
  &jazzberryjam { background: @jazzberryjam; }
  &strawberry { background: @strawberry; }
  &sasquatchsocks { background: @sasquatchsocks; }
  &ticklemepink { background: @ticklemepink; }
  &blush { background: @blush; }
  &piggypink { background: @piggypink; }
  &cinnamonsatin { background: @cinnamonsatin; }
  &rosedust { background: @rosedust; }
  &pinkpearl { background: @pinkpearl; }
  &bigdiporuby { background: @bigdiporuby; }
  &rosepearl { background: @rosepearl; }
  &pinksherbert { background: @pinksherbert; }
  &maroon { background: @maroon; }
  &dingydungeon { background: @dingydungeon; }
  &red { background: @red; }
  &mauvelous { background: @mauvelous; }
  &radicalred { background: @radicalred; }
  &blackshadows { background: @blackshadows; }
  &shimmeringblush { background: @shimmeringblush; }
  &magicpotion { background: @magicpotion; }
  &cherry { background: @cherry; }
  &wildwatermelon { background: @wildwatermelon; }
  &fieryrose { background: @fieryrose; }
  &salmon { background: @salmon; }
  &sizzlingred { background: @sizzlingred; }
  &scarlet { background: @scarlet; }
  &brickred { background: @brickred; }
  &rustyred { background: @rustyred; }
  &redsalsa { background: @redsalsa; }
  &sunburntcyclops { background: @sunburntcyclops; }
  &tulip { background: @tulip; }
  &salmonpearl { background: @salmonpearl; }
  &bittersweetshimmer { background: @bittersweetshimmer; }
  &mahogany { background: @mahogany; }
}
.text- {
  &turquoise { color: @turquoise; }
  &emerland { color: @emerland; }
  &peterriver { color: @peterriver; }
  &amethystflat { color: @amethystflat; }
  &wetasphalt { color: @wetasphalt; }
  &greensea { color: @greensea; }
  &nephritis { color: @nephritis; }
  &belizehole { color: @belizehole; }
  &wisteria { color: @wisteria; }
  &midnightblueflat { color: @midnightblueflat; }
  &sunflower { color: @sunflower; }
  &carrot { color: @carrot; }
  &alizarin { color: @alizarin; }
  &clouds { color: @clouds; }
  &concrete { color: @concrete; }
  &orange { color: @orange; }
  &pumpkin { color: @pumpkin; }
  &pomegranate { color: @pomegranate; }
  &silverflat { color: @silverflat; }
  &asbestos { color: @asbestos; }

  &metabootstrap-red { color: @metabootstrap-red; }

  &white { color: @white; }
  &black { color: @black; }

  &eerieblack { color: @eerieblack; }
  &granitegray { color: @granitegray; }
  &sonicsilver { color: @sonicsilver; }
  &quicksilver { color: @quicksilver; }
  &culturedpearl { color: @culturedpearl; }
  &coconut { color: @coconut; }
  &fuzzywuzzy { color: @fuzzywuzzy; }
  &rose { color: @rose; }
  &orangered { color: @orangered; }
  &tartorange { color: @tartorange; }
  &chestnut { color: @chestnut; }
  &sweetbrown { color: @sweetbrown; }
  &redorange { color: @redorange; }
  &sunsetorange { color: @sunsetorange; }
  &copperpenny { color: @copperpenny; }
  &licorice { color: @licorice; }
  &giantsclub { color: @giantsclub; }
  &bittersweet { color: @bittersweet; }
  &ogreodor { color: @ogreodor; }
  &melon { color: @melon; }
  &burnishedbrown { color: @burnishedbrown; }
  &cedarchest { color: @cedarchest; }
  &jellybean { color: @jellybean; }
  &jasper { color: @jasper; }
  &orangesoda { color: @orangesoda; }
  &blastoffbronze { color: @blastoffbronze; }
  &vividtangerine { color: @vividtangerine; }
  &outrageousorange { color: @outrageousorange; }
  &burntsienna { color: @burntsienna; }
  &brown { color: @brown; }
  &smokeytopaz { color: @smokeytopaz; }
  &silver { color: @silver; }
  &smashedpumpkin { color: @smashedpumpkin; }
  &copper { color: @copper; }
  &sepia { color: @sepia; }
  &mandarinpearl { color: @mandarinpearl; }
  &burntorange { color: @burntorange; }
  &orange { color: @orange; }
  &brownsugar { color: @brownsugar; }
  &mangotango { color: @mangotango; }
  &citrine { color: @citrine; }
  &atomictangerine { color: @atomictangerine; }
  &beaver { color: @beaver; }
  &antiquebrass { color: @antiquebrass; }
  &chocolate { color: @chocolate; }
  &bigfootfeet { color: @bigfootfeet; }
  &desertsand { color: @desertsand; }
  &tumbleweed { color: @tumbleweed; }
  &rawsienna { color: @rawsienna; }
  &tan { color: @tan; }
  &peach { color: @peach; }
  &macaronicheese { color: @macaronicheese; }
  &alloyorange { color: @alloyorange; }
  &lumber { color: @lumber; }
  &dirt { color: @dirt; }
  &heatwave { color: @heatwave; }
  &almond { color: @almond; }
  &apricot { color: @apricot; }
  &rawumber { color: @rawumber; }
  &neoncarrot { color: @neoncarrot; }
  &tigerseye { color: @tigerseye; }
  &timberwolf { color: @timberwolf; }
  &gray { color: @gray; }
  &gold { color: @gold; }
  &yelloworange { color: @yelloworange; }
  &shadow { color: @shadow; }
  &brightyellow { color: @brightyellow; }
  &aztecgold { color: @aztecgold; }
  &maize { color: @maize; }
  &metallicsunburst { color: @metallicsunburst; }
  &sunsetpearl { color: @sunsetpearl; }
  &bananamania { color: @bananamania; }
  &goldfusion { color: @goldfusion; }
  &goldenrod { color: @goldenrod; }
  &sunglow { color: @sunglow; }
  &orangeyellow { color: @orangeyellow; }
  &dandelion { color: @dandelion; }
  &banana { color: @banana; }
  &yellow { color: @yellow; }
  &gargoylegas { color: @gargoylegas; }
  &sizzlingsunrise { color: @sizzlingsunrise; }
  &mistymoss { color: @mistymoss; }
  &greenyellow { color: @greenyellow; }
  &lemonyellow { color: @lemonyellow; }
  &springgreen { color: @springgreen; }
  &olivegreen { color: @olivegreen; }
  &yellowsunshine { color: @yellowsunshine; }
  &babypowder { color: @babypowder; }
  &canary { color: @canary; }
  &sunnypearl { color: @sunnypearl; }
  &unmellowyellow { color: @unmellowyellow; }
  &lemon { color: @lemon; }
  &daffodil { color: @daffodil; }
  &laserlemon { color: @laserlemon; }
  &lemonglacier { color: @lemonglacier; }
  &peridot { color: @peridot; }
  &boogerbuster { color: @boogerbuster; }
  &keylimepearl { color: @keylimepearl; }
  &electriclime { color: @electriclime; }
  &lime { color: @lime; }
  &yellowgreen { color: @yellowgreen; }
  &sheengreen { color: @sheengreen; }
  &inchworm { color: @inchworm; }
  &greenlizard { color: @greenlizard; }
  &alienarmpit { color: @alienarmpit; }
  &asparagus { color: @asparagus; }
  &springfrost { color: @springfrost; }
  &slimygreen { color: @slimygreen; }
  &grannysmithapple { color: @grannysmithapple; }
  &screamingreen { color: @screamingreen; }
  &fern { color: @fern; }
  &mummystomb { color: @mummystomb; }
  &smoke { color: @smoke; }
  &leatherjacket { color: @leatherjacket; }
  &forestgreen { color: @forestgreen; }
  &caribbeangreenpearl { color: @caribbeangreenpearl; }
  &shinyshamrock { color: @shinyshamrock; }
  &seagreen { color: @seagreen; }
  &magicmint { color: @magicmint; }
  &pine { color: @pine; }
  &oceangreenpearl { color: @oceangreenpearl; }
  &green { color: @green; }
  &shamrock { color: @shamrock; }
  &eucalyptus { color: @eucalyptus; }
  &mountainmeadow { color: @mountainmeadow; }
  &junglegreen { color: @junglegreen; }
  &jade { color: @jade; }
  &illuminatingemerald { color: @illuminatingemerald; }
  &caribbeangreen { color: @caribbeangreen; }
  &polishedpine { color: @polishedpine; }
  &wintergreendream { color: @wintergreendream; }
  &emerald { color: @emerald; }
  &greensheen { color: @greensheen; }
  &tropicalrainforest { color: @tropicalrainforest; }
  &pinegreen { color: @pinegreen; }
  &robinseggblue { color: @robinseggblue; }
  &steelteal { color: @steelteal; }
  &malachite { color: @malachite; }
  &aquamarine { color: @aquamarine; }
  &seaserpent { color: @seaserpent; }
  &turquoiseblue { color: @turquoiseblue; }
  &tealblue { color: @tealblue; }
  &metallicseaweed { color: @metallicseaweed; }
  &blizzardblue { color: @blizzardblue; }
  &turquoisepearl { color: @turquoisepearl; }
  &skyblue { color: @skyblue; }
  &outerspace { color: @outerspace; }
  &moonstone { color: @moonstone; }
  &pacificblue { color: @pacificblue; }
  &bluegreen { color: @bluegreen; }
  &aquapearl { color: @aquapearl; }
  &deepspacesparkle { color: @deepspacesparkle; }
  &cerulean { color: @cerulean; }
  &onyx { color: @onyx; }
  &steelblue { color: @steelblue; }
  &freshair { color: @freshair; }
  &winterwizard { color: @winterwizard; }
  &pewterblue { color: @pewterblue; }
  &cornflower { color: @cornflower; }
  &bluejeans { color: @bluejeans; }
  &ceruleanfrost { color: @ceruleanfrost; }
  &blackcoralpearl { color: @blackcoralpearl; }
  &greenblue { color: @greenblue; }
  &bluegray { color: @bluegray; }
  &midnightblue { color: @midnightblue; }
  &navyblue { color: @navyblue; }
  &shadowblue { color: @shadowblue; }
  &bdazzledblue { color: @bdazzledblue; }
  &sapphire { color: @sapphire; }
  &denim { color: @denim; }
  &blue { color: @blue; }
  &absolutezero { color: @absolutezero; }
  &lapislazuli { color: @lapislazuli; }
  &periwinkle { color: @periwinkle; }
  &blueberry { color: @blueberry; }
  &cadetblue { color: @cadetblue; }
  &newcar { color: @newcar; }
  &wildblueyonder { color: @wildblueyonder; }
  &indigo { color: @indigo; }
  &denimblue { color: @denimblue; }
  &violetblue { color: @violetblue; }
  &manatee { color: @manatee; }
  &bluebell { color: @bluebell; }
  &cosmiccobalt { color: @cosmiccobalt; }
  &amethyst { color: @amethyst; }
  &oceanbluepearl { color: @oceanbluepearl; }
  &soap { color: @soap; }
  &blueviolet { color: @blueviolet; }
  &plumppurple { color: @plumppurple; }
  &pixiepowder { color: @pixiepowder; }
  &purpleheart { color: @purpleheart; }
  &cybergrape { color: @cybergrape; }
  &royalpurple { color: @royalpurple; }
  &purplemountainsmajesty { color: @purplemountainsmajesty; }
  &grape { color: @grape; }
  &violetpurple { color: @violetpurple; }
  &wisteria { color: @wisteria; }
  &glossygrape { color: @glossygrape; }
  &purpleplum { color: @purpleplum; }
  &lilac { color: @lilac; }
  &vividviolet { color: @vividviolet; }
  &fuchsia { color: @fuchsia; }
  &shockingpink { color: @shockingpink; }
  &pinkflamingo { color: @pinkflamingo; }
  &midnightpearl { color: @midnightpearl; }
  &plum { color: @plum; }
  &razzmicberry { color: @razzmicberry; }
  &bubblegum { color: @bubblegum; }
  &lilacluster { color: @lilacluster; }
  &purplepizzazz { color: @purplepizzazz; }
  &hotmagenta { color: @hotmagenta; }
  &orchid { color: @orchid; }
  &razzledazzlerose { color: @razzledazzlerose; }
  &pearlypurple { color: @pearlypurple; }
  &shampoo { color: @shampoo; }
  &rosequartz { color: @rosequartz; }
  &thistle { color: @thistle; }
  &frostbite { color: @frostbite; }
  &princessperfume { color: @princessperfume; }
  &redviolet { color: @redviolet; }
  &sugarplum { color: @sugarplum; }
  &mulberry { color: @mulberry; }
  &eggplant { color: @eggplant; }
  &twilightlavender { color: @twilightlavender; }
  &magenta { color: @magenta; }
  &mysticmaroon { color: @mysticmaroon; }
  &cerise { color: @cerise; }
  &wildstrawberry { color: @wildstrawberry; }
  &wintersky { color: @wintersky; }
  &lavender { color: @lavender; }
  &cottoncandy { color: @cottoncandy; }
  &carnationpink { color: @carnationpink; }
  &orchidpearl { color: @orchidpearl; }
  &violetred { color: @violetred; }
  &ruby { color: @ruby; }
  &mysticpearl { color: @mysticpearl; }
  &razzmatazz { color: @razzmatazz; }
  &jazzberryjam { color: @jazzberryjam; }
  &strawberry { color: @strawberry; }
  &sasquatchsocks { color: @sasquatchsocks; }
  &ticklemepink { color: @ticklemepink; }
  &blush { color: @blush; }
  &piggypink { color: @piggypink; }
  &cinnamonsatin { color: @cinnamonsatin; }
  &rosedust { color: @rosedust; }
  &pinkpearl { color: @pinkpearl; }
  &bigdiporuby { color: @bigdiporuby; }
  &rosepearl { color: @rosepearl; }
  &pinksherbert { color: @pinksherbert; }
  &maroon { color: @maroon; }
  &dingydungeon { color: @dingydungeon; }
  &red { color: @red; }
  &mauvelous { color: @mauvelous; }
  &radicalred { color: @radicalred; }
  &blackshadows { color: @blackshadows; }
  &shimmeringblush { color: @shimmeringblush; }
  &magicpotion { color: @magicpotion; }
  &cherry { color: @cherry; }
  &wildwatermelon { color: @wildwatermelon; }
  &fieryrose { color: @fieryrose; }
  &salmon { color: @salmon; }
  &sizzlingred { color: @sizzlingred; }
  &scarlet { color: @scarlet; }
  &brickred { color: @brickred; }
  &rustyred { color: @rustyred; }
  &redsalsa { color: @redsalsa; }
  &sunburntcyclops { color: @sunburntcyclops; }
  &tulip { color: @tulip; }
  &salmonpearl { color: @salmonpearl; }
  &bittersweetshimmer { color: @bittersweetshimmer; }
  &mahogany { color: @mahogany; }
}
