.fancy-blocks {
  .fancy-block {
    .small-light-text;
    .blue-gradient-background;
  }
}

section {
  padding: 8rem 0;
}

/* Depreciated */
.height-45-px {
  max-width: 100%;
  max-height: 45px;
}
