/* Caret Bullets */
ul.caret-bullets {
  list-style: none;
}
ul.caret-bullets li:before {
  content: "";
  border-color: transparent #ccc;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}
ul.caret-bullets li.lead:before {
  top: 1.075em;
}
ul.caret-bullets.cb-white li {
  color: #fff;
}
ul.caret-bullets.cb-white li:before {
  border-color: transparent #fff !important;
}
/* Accent lines */
.accent-line::after {
  content: '';
  display: block;
  padding-top: 0.4em;
  border-bottom: 6px solid rgba(255, 255, 255, 0.5);
  max-width: 85px;
}
.accent-line-dark::after {
  content: '';
  display: block;
  padding-top: 0.4em;
  border-bottom: 6px solid rgba(255, 255, 255, 0.5);
  max-width: 85px;
}
.accent-line-dark::after {
  border-bottom: 6px solid rgba(0, 0, 0, 0.5);
}
.centered-accent-line::after {
  content: '';
  display: block;
  padding-top: 3px;
  border-bottom: 6px solid rgba(255, 255, 255, 0.5);
  max-width: 85px;
  margin: 0 auto;
}
.centered-accent-line-dark::after {
  content: '';
  display: block;
  padding-top: 3px;
  border-bottom: 6px solid rgba(255, 255, 255, 0.5);
  max-width: 85px;
  margin: 0 auto;
}
.centered-accent-line-dark::after {
  border-bottom: 6px solid rgba(0, 0, 0, 0.5);
}
.accent-line-wide::after {
  content: '';
  display: block;
  padding-top: 0.4em;
  border-bottom: 6px solid rgba(255, 255, 255, 0.5);
  max-width: 85px;
}
.accent-line-wide::after {
  max-width: 150px;
}
.centered-accent-line-wide::after {
  content: '';
  display: block;
  padding-top: 3px;
  border-bottom: 6px solid rgba(255, 255, 255, 0.5);
  max-width: 85px;
  margin: 0 auto;
}
.centered-accent-line-wide::after {
  max-width: 150px;
}
.accent-line-wide-dark::after {
  content: '';
  display: block;
  padding-top: 0.4em;
  border-bottom: 6px solid rgba(255, 255, 255, 0.5);
  max-width: 85px;
}
.accent-line-wide-dark::after {
  border-bottom: 6px solid rgba(0, 0, 0, 0.5);
}
.accent-line-wide-dark::after {
  max-width: 150px;
}
.centered-accent-line-wide-dark::after {
  content: '';
  display: block;
  padding-top: 3px;
  border-bottom: 6px solid rgba(255, 255, 255, 0.5);
  max-width: 85px;
  margin: 0 auto;
}
.centered-accent-line-wide-dark::after {
  border-bottom: 6px solid rgba(0, 0, 0, 0.5);
}
.centered-accent-line-wide-dark::after {
  max-width: 150px;
}
