header.img-background {
  background: #444;
  min-height: 650px;
  height: 100vh;
  min-width: 100%;
}
header.bg-cover {
  background: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?dpr=2&fit=crop&fm=jpg&q=75&w=1050) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.flat-background {
  background: #444;
  min-height: 650px;
  height: 100vh;
  min-width: 100%;
}
header.flat-background.red {
  background: #C51443;
}
.white-text {
  color: #e9e9e9;
}
header h1 {
  line-height: 1.25;
  margin-top: 10px;
  color: #e9e9e9;
}
.hero-section {
  max-width: 75%;
  margin: 0 auto;
}
.hero-section h1,
.hero-section p {
  font-weight: 300;
}
.hero-section h1.strong,
.hero-section h2.strong,
.hero-section h3.strong {
  font-weight: 500;
}
.hero-section button {
  font-size: 11px;
  font-weight: 500;
  margin: 10px 5px;
  padding: 10px 28px;
}
.hero-section img.logo {
  height: 75px;
}
.centered-hero-with-image {
  margin-top: 7% !important;
}
