body {
  overflow-x: hidden;
}
.margin-15-px {
  margin: 15px;
}
.display-inline-block {
  display: inline-block;
}
.pull-up-21-px {
  position: relative;
  top: -21px;
}
.margin-10-percent-top {
  margin-top: 10%;
}
.margin-top-28-px {
  margin-top: 28px;
}
