
<div class="underlay one"></div>
<div class="context-panel left">
    <header>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mtm ptxs Light"><i class="i-play Light"></i>&nbsp; Start a Full Migration to Office 365</h3>
            </div>
        </div>
    </header>
    <div class="body">
        <h4 class="mtn">What is a Full Migration? <a class="help" href="#"><i class="i-help"></i></a></h4>
        <p>
            <small>
                Use this type of migration for "big bang" (single pass) migrations, or following an earlier pre-stage migration. Use this type of migration after MX record cutover, to make sure you are not missing any data.
            </small>
        </p>

        <div class="row mtl">

            <div class="col-xs-6 pvs">
                <div class="stat-widget-sm success">
                    <div class="icon">
                        <i class="i-action-check"></i>
                    </div>
                    <div class="content">
                        <strong>1</strong> Item Selected
                    </div>
                </div>
            </div>

            <div class="col-xs-6 pvs">
                <div class="stat-widget-sm success">
                    <div class="icon">
                        <i class="i-action-plus"></i>
                    </div>
                    <div class="content">
                        <strong>1</strong> Item Will Migrate
                    </div>
                </div>
            </div>

            <div class="col-xs-6 pvs">
                <div class="stat-widget-sm success">
                    <div class="icon">
                        <i class="i-action-x"></i>
                    </div>
                    <div class="content">
                        <strong>120</strong> Licenses Available
                    </div>
                </div>
            </div>


            <div class="col-xs-6 pvs">
                <div class="stat-widget-sm success">
                    <div class="icon">
                        <i class="i-action-x"></i>
                    </div>
                    <div class="content">
                        <strong>1</strong> Licenses Required
                    </div>
                </div>
            </div>
        </div>

        <div class="list-group accordion mtl">
            <div class="list-group-item open">
                <header>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="mtm ptxs Light">
                                <i class="i-play Light"></i>&nbsp;
                                Select What to Migrate
                            </h4>
                            <hr>
                        </div>
                    </div>
                </header>
                <div class="content phl pts">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>
                                <input type="checkbox"/>&nbsp;
                                Contacts
                            </p>
                            <p>
                                <input type="checkbox"/>&nbsp;
                                Journals
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <input type="checkbox"/>&nbsp;
                                Contacts
                            </p>
                            <p>
                                <input type="checkbox"/>&nbsp;
                                Journals
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <p>
                                <input type="checkbox"/>&nbsp;
                                Contacts
                            </p>
                            <p>
                                <input type="checkbox"/>&nbsp;
                                Journals
                            </p>
                        </div>

                        <div class="col-sm-3">
                            <p>
                                <input type="checkbox"/>&nbsp;
                                Contacts
                            </p>
                            <p>
                                <input type="checkbox"/>&nbsp;
                                Journals
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-group-item open">
                <header>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="mtm ptxs Light">
                                <i class="i-project Light"></i>&nbsp;
                                Migration Scheduling
                            </h4>
                            <hr>
                        </div>
                    </div>
                </header>
                <div class="content phl pts">
                    <div class="row">
                        <div class="box-body">
                            <div class="checkbox mtn">
                                <label>
                                    <input id="ember8114" class="ember-view ember-checkbox" type="checkbox" name="delay-migration">
                                    <script id="metamorph-2545-start" type="text/x-placeholder"></script>Automatically start the migration at<script id="metamorph-2545-end" type="text/x-placeholder"></script>&nbsp;
                                </label>
                                <a id="ember8116" class="ember-view i-help help" href="http://www.bittitan.com/kb/KB004158" title="Can I delay the start of my migration?"></a>
                            </div>
                            <script id="metamorph-2546-start" type="text/x-placeholder"></script>
                            <div id="ember8145" class="ember-view row delay-migration-date">
                                <div class="col-xs-2">
                                    <select id="ember8152" class="ember-view ember-select input-sm form-control"><script id="metamorph-2566-start" type="text/x-placeholder"></script><option value=""><script id="metamorph-2567-start" type="text/x-placeholder"></script>Month<script id="metamorph-2567-end" type="text/x-placeholder"></script></option><script id="metamorph-2566-end" type="text/x-placeholder"></script><script id="metamorph-2568-start" type="text/x-placeholder"></script><script id="metamorph-2581-start" type="text/x-placeholder"></script><script id="metamorph-2569-start" type="text/x-placeholder"></script><option id="ember8174" class="ember-view" value="0"><script id="metamorph-2582-start" type="text/x-placeholder"></script>Jan<script id="metamorph-2582-end" type="text/x-placeholder"></script></option><script id="metamorph-2569-end" type="text/x-placeholder"></script><script id="metamorph-2570-start" type="text/x-placeholder"></script><option id="ember8175" class="ember-view" value="1"><script id="metamorph-2583-start" type="text/x-placeholder"></script>Feb<script id="metamorph-2583-end" type="text/x-placeholder"></script></option><script id="metamorph-2570-end" type="text/x-placeholder"></script><script id="metamorph-2571-start" type="text/x-placeholder"></script><option id="ember8176" class="ember-view" value="2"><script id="metamorph-2584-start" type="text/x-placeholder"></script>Mar<script id="metamorph-2584-end" type="text/x-placeholder"></script></option><script id="metamorph-2571-end" type="text/x-placeholder"></script><script id="metamorph-2572-start" type="text/x-placeholder"></script><option id="ember8177" class="ember-view" value="3"><script id="metamorph-2585-start" type="text/x-placeholder"></script>Apr<script id="metamorph-2585-end" type="text/x-placeholder"></script></option><script id="metamorph-2572-end" type="text/x-placeholder"></script><script id="metamorph-2573-start" type="text/x-placeholder"></script><option id="ember8178" class="ember-view" value="4"><script id="metamorph-2586-start" type="text/x-placeholder"></script>May<script id="metamorph-2586-end" type="text/x-placeholder"></script></option><script id="metamorph-2573-end" type="text/x-placeholder"></script><script id="metamorph-2574-start" type="text/x-placeholder"></script><option id="ember8179" class="ember-view" value="5"><script id="metamorph-2587-start" type="text/x-placeholder"></script>Jun<script id="metamorph-2587-end" type="text/x-placeholder"></script></option><script id="metamorph-2574-end" type="text/x-placeholder"></script><script id="metamorph-2575-start" type="text/x-placeholder"></script><option id="ember8180" class="ember-view" value="6"><script id="metamorph-2588-start" type="text/x-placeholder"></script>Jul<script id="metamorph-2588-end" type="text/x-placeholder"></script></option><script id="metamorph-2575-end" type="text/x-placeholder"></script><script id="metamorph-2576-start" type="text/x-placeholder"></script><option id="ember8181" class="ember-view" value="7"><script id="metamorph-2589-start" type="text/x-placeholder"></script>Aug<script id="metamorph-2589-end" type="text/x-placeholder"></script></option><script id="metamorph-2576-end" type="text/x-placeholder"></script><script id="metamorph-2577-start" type="text/x-placeholder"></script><option id="ember8182" class="ember-view" value="8"><script id="metamorph-2590-start" type="text/x-placeholder"></script>Sep<script id="metamorph-2590-end" type="text/x-placeholder"></script></option><script id="metamorph-2577-end" type="text/x-placeholder"></script><script id="metamorph-2578-start" type="text/x-placeholder"></script><option id="ember8183" class="ember-view" value="9"><script id="metamorph-2591-start" type="text/x-placeholder"></script>Oct<script id="metamorph-2591-end" type="text/x-placeholder"></script></option><script id="metamorph-2578-end" type="text/x-placeholder"></script><script id="metamorph-2579-start" type="text/x-placeholder"></script><option id="ember8184" class="ember-view" value="10"><script id="metamorph-2592-start" type="text/x-placeholder"></script>Nov<script id="metamorph-2592-end" type="text/x-placeholder"></script></option><script id="metamorph-2579-end" type="text/x-placeholder"></script><script id="metamorph-2580-start" type="text/x-placeholder"></script><option id="ember8185" class="ember-view" value="11"><script id="metamorph-2593-start" type="text/x-placeholder"></script>Dec<script id="metamorph-2593-end" type="text/x-placeholder"></script></option><script id="metamorph-2580-end" type="text/x-placeholder"></script><script id="metamorph-2581-end" type="text/x-placeholder"></script><script id="metamorph-2568-end" type="text/x-placeholder"></script></select>
                                </div>
                                <div class="col-xs-2">
                                    <select id="ember8188" class="ember-view ember-select input-sm form-control"><script id="metamorph-2594-start" type="text/x-placeholder"></script><option value=""><script id="metamorph-2595-start" type="text/x-placeholder"></script>Day<script id="metamorph-2595-end" type="text/x-placeholder"></script></option><script id="metamorph-2594-end" type="text/x-placeholder"></script><script id="metamorph-2596-start" type="text/x-placeholder"></script><script id="metamorph-2628-start" type="text/x-placeholder"></script><script id="metamorph-2597-start" type="text/x-placeholder"></script><option id="ember8227" class="ember-view" value="1"><script id="metamorph-2629-start" type="text/x-placeholder"></script>1<script id="metamorph-2629-end" type="text/x-placeholder"></script></option><script id="metamorph-2597-end" type="text/x-placeholder"></script><script id="metamorph-2598-start" type="text/x-placeholder"></script><option id="ember8228" class="ember-view" value="2"><script id="metamorph-2630-start" type="text/x-placeholder"></script>2<script id="metamorph-2630-end" type="text/x-placeholder"></script></option><script id="metamorph-2598-end" type="text/x-placeholder"></script><script id="metamorph-2599-start" type="text/x-placeholder"></script><option id="ember8229" class="ember-view" value="3"><script id="metamorph-2631-start" type="text/x-placeholder"></script>3<script id="metamorph-2631-end" type="text/x-placeholder"></script></option><script id="metamorph-2599-end" type="text/x-placeholder"></script><script id="metamorph-2600-start" type="text/x-placeholder"></script><option id="ember8230" class="ember-view" value="4"><script id="metamorph-2632-start" type="text/x-placeholder"></script>4<script id="metamorph-2632-end" type="text/x-placeholder"></script></option><script id="metamorph-2600-end" type="text/x-placeholder"></script><script id="metamorph-2601-start" type="text/x-placeholder"></script><option id="ember8231" class="ember-view" value="5"><script id="metamorph-2633-start" type="text/x-placeholder"></script>5<script id="metamorph-2633-end" type="text/x-placeholder"></script></option><script id="metamorph-2601-end" type="text/x-placeholder"></script><script id="metamorph-2602-start" type="text/x-placeholder"></script><option id="ember8232" class="ember-view" value="6"><script id="metamorph-2634-start" type="text/x-placeholder"></script>6<script id="metamorph-2634-end" type="text/x-placeholder"></script></option><script id="metamorph-2602-end" type="text/x-placeholder"></script><script id="metamorph-2603-start" type="text/x-placeholder"></script><option id="ember8233" class="ember-view" value="7"><script id="metamorph-2635-start" type="text/x-placeholder"></script>7<script id="metamorph-2635-end" type="text/x-placeholder"></script></option><script id="metamorph-2603-end" type="text/x-placeholder"></script><script id="metamorph-2604-start" type="text/x-placeholder"></script><option id="ember8234" class="ember-view" value="8"><script id="metamorph-2636-start" type="text/x-placeholder"></script>8<script id="metamorph-2636-end" type="text/x-placeholder"></script></option><script id="metamorph-2604-end" type="text/x-placeholder"></script><script id="metamorph-2605-start" type="text/x-placeholder"></script><option id="ember8235" class="ember-view" value="9"><script id="metamorph-2637-start" type="text/x-placeholder"></script>9<script id="metamorph-2637-end" type="text/x-placeholder"></script></option><script id="metamorph-2605-end" type="text/x-placeholder"></script><script id="metamorph-2606-start" type="text/x-placeholder"></script><option id="ember8236" class="ember-view" value="10"><script id="metamorph-2638-start" type="text/x-placeholder"></script>10<script id="metamorph-2638-end" type="text/x-placeholder"></script></option><script id="metamorph-2606-end" type="text/x-placeholder"></script><script id="metamorph-2607-start" type="text/x-placeholder"></script><option id="ember8237" class="ember-view" value="11"><script id="metamorph-2639-start" type="text/x-placeholder"></script>11<script id="metamorph-2639-end" type="text/x-placeholder"></script></option><script id="metamorph-2607-end" type="text/x-placeholder"></script><script id="metamorph-2608-start" type="text/x-placeholder"></script><option id="ember8238" class="ember-view" value="12"><script id="metamorph-2640-start" type="text/x-placeholder"></script>12<script id="metamorph-2640-end" type="text/x-placeholder"></script></option><script id="metamorph-2608-end" type="text/x-placeholder"></script><script id="metamorph-2609-start" type="text/x-placeholder"></script><option id="ember8239" class="ember-view" value="13"><script id="metamorph-2641-start" type="text/x-placeholder"></script>13<script id="metamorph-2641-end" type="text/x-placeholder"></script></option><script id="metamorph-2609-end" type="text/x-placeholder"></script><script id="metamorph-2610-start" type="text/x-placeholder"></script><option id="ember8240" class="ember-view" value="14"><script id="metamorph-2642-start" type="text/x-placeholder"></script>14<script id="metamorph-2642-end" type="text/x-placeholder"></script></option><script id="metamorph-2610-end" type="text/x-placeholder"></script><script id="metamorph-2611-start" type="text/x-placeholder"></script><option id="ember8241" class="ember-view" value="15"><script id="metamorph-2643-start" type="text/x-placeholder"></script>15<script id="metamorph-2643-end" type="text/x-placeholder"></script></option><script id="metamorph-2611-end" type="text/x-placeholder"></script><script id="metamorph-2612-start" type="text/x-placeholder"></script><option id="ember8242" class="ember-view" value="16"><script id="metamorph-2644-start" type="text/x-placeholder"></script>16<script id="metamorph-2644-end" type="text/x-placeholder"></script></option><script id="metamorph-2612-end" type="text/x-placeholder"></script><script id="metamorph-2613-start" type="text/x-placeholder"></script><option id="ember8243" class="ember-view" value="17"><script id="metamorph-2645-start" type="text/x-placeholder"></script>17<script id="metamorph-2645-end" type="text/x-placeholder"></script></option><script id="metamorph-2613-end" type="text/x-placeholder"></script><script id="metamorph-2614-start" type="text/x-placeholder"></script><option id="ember8244" class="ember-view" value="18"><script id="metamorph-2646-start" type="text/x-placeholder"></script>18<script id="metamorph-2646-end" type="text/x-placeholder"></script></option><script id="metamorph-2614-end" type="text/x-placeholder"></script><script id="metamorph-2615-start" type="text/x-placeholder"></script><option id="ember8245" class="ember-view" value="19"><script id="metamorph-2647-start" type="text/x-placeholder"></script>19<script id="metamorph-2647-end" type="text/x-placeholder"></script></option><script id="metamorph-2615-end" type="text/x-placeholder"></script><script id="metamorph-2616-start" type="text/x-placeholder"></script><option id="ember8246" class="ember-view" value="20"><script id="metamorph-2648-start" type="text/x-placeholder"></script>20<script id="metamorph-2648-end" type="text/x-placeholder"></script></option><script id="metamorph-2616-end" type="text/x-placeholder"></script><script id="metamorph-2617-start" type="text/x-placeholder"></script><option id="ember8247" class="ember-view" value="21"><script id="metamorph-2649-start" type="text/x-placeholder"></script>21<script id="metamorph-2649-end" type="text/x-placeholder"></script></option><script id="metamorph-2617-end" type="text/x-placeholder"></script><script id="metamorph-2618-start" type="text/x-placeholder"></script><option id="ember8248" class="ember-view" value="22"><script id="metamorph-2650-start" type="text/x-placeholder"></script>22<script id="metamorph-2650-end" type="text/x-placeholder"></script></option><script id="metamorph-2618-end" type="text/x-placeholder"></script><script id="metamorph-2619-start" type="text/x-placeholder"></script><option id="ember8249" class="ember-view" value="23"><script id="metamorph-2651-start" type="text/x-placeholder"></script>23<script id="metamorph-2651-end" type="text/x-placeholder"></script></option><script id="metamorph-2619-end" type="text/x-placeholder"></script><script id="metamorph-2620-start" type="text/x-placeholder"></script><option id="ember8250" class="ember-view" value="24"><script id="metamorph-2652-start" type="text/x-placeholder"></script>24<script id="metamorph-2652-end" type="text/x-placeholder"></script></option><script id="metamorph-2620-end" type="text/x-placeholder"></script><script id="metamorph-2621-start" type="text/x-placeholder"></script><option id="ember8251" class="ember-view" value="25"><script id="metamorph-2653-start" type="text/x-placeholder"></script>25<script id="metamorph-2653-end" type="text/x-placeholder"></script></option><script id="metamorph-2621-end" type="text/x-placeholder"></script><script id="metamorph-2622-start" type="text/x-placeholder"></script><option id="ember8252" class="ember-view" value="26"><script id="metamorph-2654-start" type="text/x-placeholder"></script>26<script id="metamorph-2654-end" type="text/x-placeholder"></script></option><script id="metamorph-2622-end" type="text/x-placeholder"></script><script id="metamorph-2623-start" type="text/x-placeholder"></script><option id="ember8253" class="ember-view" value="27"><script id="metamorph-2655-start" type="text/x-placeholder"></script>27<script id="metamorph-2655-end" type="text/x-placeholder"></script></option><script id="metamorph-2623-end" type="text/x-placeholder"></script><script id="metamorph-2624-start" type="text/x-placeholder"></script><option id="ember8254" class="ember-view" value="28"><script id="metamorph-2656-start" type="text/x-placeholder"></script>28<script id="metamorph-2656-end" type="text/x-placeholder"></script></option><script id="metamorph-2624-end" type="text/x-placeholder"></script><script id="metamorph-2625-start" type="text/x-placeholder"></script><option id="ember8255" class="ember-view" value="29"><script id="metamorph-2657-start" type="text/x-placeholder"></script>29<script id="metamorph-2657-end" type="text/x-placeholder"></script></option><script id="metamorph-2625-end" type="text/x-placeholder"></script><script id="metamorph-2626-start" type="text/x-placeholder"></script><option id="ember8256" class="ember-view" value="30"><script id="metamorph-2658-start" type="text/x-placeholder"></script>30<script id="metamorph-2658-end" type="text/x-placeholder"></script></option><script id="metamorph-2626-end" type="text/x-placeholder"></script><script id="metamorph-2627-start" type="text/x-placeholder"></script><option id="ember8257" class="ember-view" value="31"><script id="metamorph-2659-start" type="text/x-placeholder"></script>31<script id="metamorph-2659-end" type="text/x-placeholder"></script></option><script id="metamorph-2627-end" type="text/x-placeholder"></script><script id="metamorph-2628-end" type="text/x-placeholder"></script><script id="metamorph-2596-end" type="text/x-placeholder"></script></select>
                                </div>
                                <div class="col-xs-2">
                                    <select id="ember8260" class="ember-view ember-select input-sm form-control"><script id="metamorph-2660-start" type="text/x-placeholder"></script><option value=""><script id="metamorph-2661-start" type="text/x-placeholder"></script>Year<script id="metamorph-2661-end" type="text/x-placeholder"></script></option><script id="metamorph-2660-end" type="text/x-placeholder"></script><script id="metamorph-2662-start" type="text/x-placeholder"></script><script id="metamorph-2665-start" type="text/x-placeholder"></script><script id="metamorph-2663-start" type="text/x-placeholder"></script><option id="ember8270" class="ember-view" value="2014"><script id="metamorph-2666-start" type="text/x-placeholder"></script>2014<script id="metamorph-2666-end" type="text/x-placeholder"></script></option><script id="metamorph-2663-end" type="text/x-placeholder"></script><script id="metamorph-2664-start" type="text/x-placeholder"></script><option id="ember8271" class="ember-view" value="2015"><script id="metamorph-2667-start" type="text/x-placeholder"></script>2015<script id="metamorph-2667-end" type="text/x-placeholder"></script></option><script id="metamorph-2664-end" type="text/x-placeholder"></script><script id="metamorph-2665-end" type="text/x-placeholder"></script><script id="metamorph-2662-end" type="text/x-placeholder"></script></select>
                                </div>
                                <!--<div class="col-xs-1 text-center">-->
                                <!--<span class="form-control-text">-->
                                <!--<small><script id="metamorph-2668-start" type="text/x-placeholder"></script>at<script id="metamorph-2668-end" type="text/x-placeholder"></script></small>-->
                                <!--</span>-->
                                <!--</div>-->
                                <div class="col-xs-2">
                                    <select id="ember8275" class="ember-view ember-select input-sm form-control"><script id="metamorph-2669-start" type="text/x-placeholder"></script><option value=""><script id="metamorph-2670-start" type="text/x-placeholder"></script>Hour<script id="metamorph-2670-end" type="text/x-placeholder"></script></option><script id="metamorph-2669-end" type="text/x-placeholder"></script><script id="metamorph-2671-start" type="text/x-placeholder"></script><script id="metamorph-2696-start" type="text/x-placeholder"></script><script id="metamorph-2672-start" type="text/x-placeholder"></script><option id="ember8307" class="ember-view" value="0"><script id="metamorph-2697-start" type="text/x-placeholder"></script>0<script id="metamorph-2697-end" type="text/x-placeholder"></script></option><script id="metamorph-2672-end" type="text/x-placeholder"></script><script id="metamorph-2673-start" type="text/x-placeholder"></script><option id="ember8308" class="ember-view" value="1"><script id="metamorph-2698-start" type="text/x-placeholder"></script>1<script id="metamorph-2698-end" type="text/x-placeholder"></script></option><script id="metamorph-2673-end" type="text/x-placeholder"></script><script id="metamorph-2674-start" type="text/x-placeholder"></script><option id="ember8309" class="ember-view" value="2"><script id="metamorph-2699-start" type="text/x-placeholder"></script>2<script id="metamorph-2699-end" type="text/x-placeholder"></script></option><script id="metamorph-2674-end" type="text/x-placeholder"></script><script id="metamorph-2675-start" type="text/x-placeholder"></script><option id="ember8310" class="ember-view" value="3"><script id="metamorph-2700-start" type="text/x-placeholder"></script>3<script id="metamorph-2700-end" type="text/x-placeholder"></script></option><script id="metamorph-2675-end" type="text/x-placeholder"></script><script id="metamorph-2676-start" type="text/x-placeholder"></script><option id="ember8311" class="ember-view" value="4"><script id="metamorph-2701-start" type="text/x-placeholder"></script>4<script id="metamorph-2701-end" type="text/x-placeholder"></script></option><script id="metamorph-2676-end" type="text/x-placeholder"></script><script id="metamorph-2677-start" type="text/x-placeholder"></script><option id="ember8312" class="ember-view" value="5"><script id="metamorph-2702-start" type="text/x-placeholder"></script>5<script id="metamorph-2702-end" type="text/x-placeholder"></script></option><script id="metamorph-2677-end" type="text/x-placeholder"></script><script id="metamorph-2678-start" type="text/x-placeholder"></script><option id="ember8313" class="ember-view" value="6"><script id="metamorph-2703-start" type="text/x-placeholder"></script>6<script id="metamorph-2703-end" type="text/x-placeholder"></script></option><script id="metamorph-2678-end" type="text/x-placeholder"></script><script id="metamorph-2679-start" type="text/x-placeholder"></script><option id="ember8314" class="ember-view" value="7"><script id="metamorph-2704-start" type="text/x-placeholder"></script>7<script id="metamorph-2704-end" type="text/x-placeholder"></script></option><script id="metamorph-2679-end" type="text/x-placeholder"></script><script id="metamorph-2680-start" type="text/x-placeholder"></script><option id="ember8315" class="ember-view" value="8"><script id="metamorph-2705-start" type="text/x-placeholder"></script>8<script id="metamorph-2705-end" type="text/x-placeholder"></script></option><script id="metamorph-2680-end" type="text/x-placeholder"></script><script id="metamorph-2681-start" type="text/x-placeholder"></script><option id="ember8316" class="ember-view" value="9"><script id="metamorph-2706-start" type="text/x-placeholder"></script>9<script id="metamorph-2706-end" type="text/x-placeholder"></script></option><script id="metamorph-2681-end" type="text/x-placeholder"></script><script id="metamorph-2682-start" type="text/x-placeholder"></script><option id="ember8317" class="ember-view" value="10"><script id="metamorph-2707-start" type="text/x-placeholder"></script>10<script id="metamorph-2707-end" type="text/x-placeholder"></script></option><script id="metamorph-2682-end" type="text/x-placeholder"></script><script id="metamorph-2683-start" type="text/x-placeholder"></script><option id="ember8318" class="ember-view" value="11"><script id="metamorph-2708-start" type="text/x-placeholder"></script>11<script id="metamorph-2708-end" type="text/x-placeholder"></script></option><script id="metamorph-2683-end" type="text/x-placeholder"></script><script id="metamorph-2684-start" type="text/x-placeholder"></script><option id="ember8319" class="ember-view" value="12"><script id="metamorph-2709-start" type="text/x-placeholder"></script>12<script id="metamorph-2709-end" type="text/x-placeholder"></script></option><script id="metamorph-2684-end" type="text/x-placeholder"></script><script id="metamorph-2685-start" type="text/x-placeholder"></script><option id="ember8320" class="ember-view" value="13"><script id="metamorph-2710-start" type="text/x-placeholder"></script>13<script id="metamorph-2710-end" type="text/x-placeholder"></script></option><script id="metamorph-2685-end" type="text/x-placeholder"></script><script id="metamorph-2686-start" type="text/x-placeholder"></script><option id="ember8321" class="ember-view" value="14"><script id="metamorph-2711-start" type="text/x-placeholder"></script>14<script id="metamorph-2711-end" type="text/x-placeholder"></script></option><script id="metamorph-2686-end" type="text/x-placeholder"></script><script id="metamorph-2687-start" type="text/x-placeholder"></script><option id="ember8322" class="ember-view" value="15"><script id="metamorph-2712-start" type="text/x-placeholder"></script>15<script id="metamorph-2712-end" type="text/x-placeholder"></script></option><script id="metamorph-2687-end" type="text/x-placeholder"></script><script id="metamorph-2688-start" type="text/x-placeholder"></script><option id="ember8323" class="ember-view" value="16"><script id="metamorph-2713-start" type="text/x-placeholder"></script>16<script id="metamorph-2713-end" type="text/x-placeholder"></script></option><script id="metamorph-2688-end" type="text/x-placeholder"></script><script id="metamorph-2689-start" type="text/x-placeholder"></script><option id="ember8324" class="ember-view" value="17"><script id="metamorph-2714-start" type="text/x-placeholder"></script>17<script id="metamorph-2714-end" type="text/x-placeholder"></script></option><script id="metamorph-2689-end" type="text/x-placeholder"></script><script id="metamorph-2690-start" type="text/x-placeholder"></script><option id="ember8325" class="ember-view" value="18"><script id="metamorph-2715-start" type="text/x-placeholder"></script>18<script id="metamorph-2715-end" type="text/x-placeholder"></script></option><script id="metamorph-2690-end" type="text/x-placeholder"></script><script id="metamorph-2691-start" type="text/x-placeholder"></script><option id="ember8326" class="ember-view" value="19"><script id="metamorph-2716-start" type="text/x-placeholder"></script>19<script id="metamorph-2716-end" type="text/x-placeholder"></script></option><script id="metamorph-2691-end" type="text/x-placeholder"></script><script id="metamorph-2692-start" type="text/x-placeholder"></script><option id="ember8327" class="ember-view" value="20"><script id="metamorph-2717-start" type="text/x-placeholder"></script>20<script id="metamorph-2717-end" type="text/x-placeholder"></script></option><script id="metamorph-2692-end" type="text/x-placeholder"></script><script id="metamorph-2693-start" type="text/x-placeholder"></script><option id="ember8328" class="ember-view" value="21"><script id="metamorph-2718-start" type="text/x-placeholder"></script>21<script id="metamorph-2718-end" type="text/x-placeholder"></script></option><script id="metamorph-2693-end" type="text/x-placeholder"></script><script id="metamorph-2694-start" type="text/x-placeholder"></script><option id="ember8329" class="ember-view" value="22"><script id="metamorph-2719-start" type="text/x-placeholder"></script>22<script id="metamorph-2719-end" type="text/x-placeholder"></script></option><script id="metamorph-2694-end" type="text/x-placeholder"></script><script id="metamorph-2695-start" type="text/x-placeholder"></script><option id="ember8330" class="ember-view" value="23"><script id="metamorph-2720-start" type="text/x-placeholder"></script>23<script id="metamorph-2720-end" type="text/x-placeholder"></script></option><script id="metamorph-2695-end" type="text/x-placeholder"></script><script id="metamorph-2696-end" type="text/x-placeholder"></script><script id="metamorph-2671-end" type="text/x-placeholder"></script></select>
                                </div>
                                <div class="col-xs-2">
                                    <select id="ember8333" class="ember-view ember-select input-sm form-control"><script id="metamorph-2721-start" type="text/x-placeholder"></script><option value=""><script id="metamorph-2722-start" type="text/x-placeholder"></script>Minute<script id="metamorph-2722-end" type="text/x-placeholder"></script></option><script id="metamorph-2721-end" type="text/x-placeholder"></script><script id="metamorph-2723-start" type="text/x-placeholder"></script><script id="metamorph-2728-start" type="text/x-placeholder"></script><script id="metamorph-2724-start" type="text/x-placeholder"></script><option id="ember8345" class="ember-view" value="0"><script id="metamorph-2729-start" type="text/x-placeholder"></script>0<script id="metamorph-2729-end" type="text/x-placeholder"></script></option><script id="metamorph-2724-end" type="text/x-placeholder"></script><script id="metamorph-2725-start" type="text/x-placeholder"></script><option id="ember8346" class="ember-view" value="15"><script id="metamorph-2730-start" type="text/x-placeholder"></script>15<script id="metamorph-2730-end" type="text/x-placeholder"></script></option><script id="metamorph-2725-end" type="text/x-placeholder"></script><script id="metamorph-2726-start" type="text/x-placeholder"></script><option id="ember8347" class="ember-view" value="30"><script id="metamorph-2731-start" type="text/x-placeholder"></script>30<script id="metamorph-2731-end" type="text/x-placeholder"></script></option><script id="metamorph-2726-end" type="text/x-placeholder"></script><script id="metamorph-2727-start" type="text/x-placeholder"></script><option id="ember8348" class="ember-view" value="45"><script id="metamorph-2732-start" type="text/x-placeholder"></script>45<script id="metamorph-2732-end" type="text/x-placeholder"></script></option><script id="metamorph-2727-end" type="text/x-placeholder"></script><script id="metamorph-2728-end" type="text/x-placeholder"></script><script id="metamorph-2723-end" type="text/x-placeholder"></script></select>
                                </div>
                                <div class="col-xs-2 text-center">
                                <span class="form-control-text" style="    position: relative;
    top: 7px;">
                                    <small>(<script id="metamorph-2733-start" type="text/x-placeholder"></script>Local Time<script id="metamorph-2733-end" type="text/x-placeholder"></script>)</small>
                                </span>
                                </div>
                            </div>
                            <script id="metamorph-2546-end" type="text/x-placeholder"></script>
                            <script id="metamorph-2547-start" type="text/x-placeholder"></script><script id="metamorph-2547-end" type="text/x-placeholder"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="footer text-right">
            <a href="#" class="btn btn-default close-modal">Cancel</a>
            <a href="#" class="btn btn-primary close-modal">Start</a>
        </div>
    </div>
</div>
