
<div class="underlay two"></div>
<div class="context-panel right errors">
    <header>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mtm ptxs Light"><i class="i-play Light"></i>&nbsp; View Migration Errors</h3>
            </div>
        </div>
    </header>
    <div class="body">
        <!--<h4 class="mtn">What is a Full Migration? <a class="help" href="#"><i class="i-help"></i></a></h4>-->
        <!--<p>-->
            <!--<small>-->
                <!--Use this type of migration for "big bang" (single pass) migrations, or following an earlier pre-stage migration. Use this type of migration after MX record cutover, to make sure you are not missing any data.-->
            <!--</small>-->
        <!--</p>-->

        <div class="row mtl">
            <div class="col-xs-12">
                <ul id="ember4046" class="ember-view list-group box-scroll box-static box-static-md box-static-w-foot">
                    <script id="metamorph-788-start" type="text/x-placeholder"></script><script id="metamorph-950-start" type="text/x-placeholder"></script>
                    <li class="list-group-item">
                        <div class="error-title">
                            <script id="metamorph-951-start" type="text/x-placeholder"></script>Your migration failed checking source credentials. Office 365 user names should always be specified as email addresses. Ensure user names are specified as email addresses.<script id="metamorph-951-end" type="text/x-placeholder"></script>
                        </div>
                        <button id="ember4447" class="kb-modal btn btn-xs btn-primary pull-right" href="http://www.bittitan.com/kb/KB004191" title="Office 365 user names should always be specified as email addresses">
                            <i class="i-help"></i> &nbsp;<script id="metamorph-960-start" type="text/x-placeholder"></script>Learn more<script id="metamorph-960-end" type="text/x-placeholder"></script>
                        </button>
                        <div class="error-meta ptm">

                            <span class=""><script id="metamorph-952-start" type="text/x-placeholder"></script>6 months ago<script id="metamorph-952-end" type="text/x-placeholder"></script></span>
                            <script id="metamorph-953-start" type="text/x-placeholder"></script>
                            <span class="icon-space-lg"><script id="metamorph-954-start" type="text/x-placeholder"></script>Source Server<script id="metamorph-954-end" type="text/x-placeholder"></script></span>
                            <script id="metamorph-953-end" type="text/x-placeholder"></script>
                            <script id="metamorph-955-start" type="text/x-placeholder"></script><script id="metamorph-955-end" type="text/x-placeholder"></script>
                            <script id="metamorph-956-start" type="text/x-placeholder"></script><script id="metamorph-956-end" type="text/x-placeholder"></script>
                            <script id="metamorph-957-start" type="text/x-placeholder"></script><script id="metamorph-957-end" type="text/x-placeholder"></script>
                            <script id="metamorph-958-start" type="text/x-placeholder"></script><script id="metamorph-958-end" type="text/x-placeholder"></script>
                            <script id="metamorph-959-start" type="text/x-placeholder"></script>

                            <script id="metamorph-959-end" type="text/x-placeholder"></script>
                        </div>
                    </li>
                    <script id="metamorph-950-end" type="text/x-placeholder"></script><script id="metamorph-788-end" type="text/x-placeholder"></script>
                    <script id="metamorph-790-start" type="text/x-placeholder"></script><script id="metamorph-790-end" type="text/x-placeholder"></script>
                </ul>
            </div>
        </div>






        <div class="footer text-right">
            <a href="#" class="btn btn-default close-modal">Back</a>
        </div>
    </div>
</div>
