<style>
    .context-panel {
        overflow-y: scroll;
    }
    .context-panel .body {
        padding-bottom: 50px;
    }
    .context-panel .body > .footer {
        left: 0;
        position: fixed;
        width: 50%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
</style>

<div class="underlay one"></div>
<div class="context-panel left">
    <header>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mtm ptxs Light"><i class="i-play Light"></i>&nbsp; Start a Full Migration to Office 365</h3>
            </div>
        </div>
    </header>
    <div class="body">
        <h4 class="mtn">What is a Full Migration? <a class="help" href="#"><i class="i-help"></i></a></h4>
        <p>
            <small>
                Use this type of migration for "big bang" (single pass) migrations, or following an earlier pre-stage migration. Use this type of migration after MX record cutover, to make sure you are not missing any data.
            </small>
        </p>

        <div class="row mtl">

            <div class="col-xs-6 pvs">
                <div class="stat-widget-sm success">
                    <div class="icon">
                        <i class="i-action-check"></i>
                    </div>
                    <div class="content">
                        <strong>1</strong> Item Selected
                    </div>
                </div>
            </div>

            <div class="col-xs-6 pvs">
                <div class="stat-widget-sm success">
                    <div class="icon">
                        <i class="i-action-plus"></i>
                    </div>
                    <div class="content">
                        <strong>1</strong> Item Will Migrate
                    </div>
                </div>
            </div>

            <div class="col-xs-6 pvs">
                <div class="stat-widget-sm success">
                    <div class="icon">
                        <i class="i-action-x"></i>
                    </div>
                    <div class="content">
                        <strong>120</strong> Licenses Available
                    </div>
                </div>
            </div>


            <div class="col-xs-6 pvs">
                <div class="stat-widget-sm success">
                    <div class="icon">
                        <i class="i-action-x"></i>
                    </div>
                    <div class="content">
                        <strong>1</strong> Licenses Required
                    </div>
                </div>
            </div>
        </div>


        <h4 class=" mtx">Required Steps</h4>

        <div class="list-group accordion">
            <div class="list-group-item open">
                <header>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="mtm Light"><i class="i-play Light"></i>&nbsp; Select What to Migrate</h4>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet architecto cum cumque, doloremque dolores esse explicabo fugiat inventore laboriosam libero neque officiis provident quibusdam quo quos reprehenderit soluta vitae.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium dolorum excepturi magnam molestias quasi qui sed. Ab aspernatur magni maiores neque nobis placeat rerum suscipit vel. Dignissimos eius ex quaerat!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid aperiam, beatae delectus dignissimos, ea eius hic id minima nobis officiis possimus quasi qui repellat repudiandae sunt tempore temporibus totam!
                    </p>
                </div>
            </div>
            <div class="list-group-item">
                <header>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="mtm Light"><i class="i-play Light"></i>&nbsp; Select When to Migrate</h4>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus est quia? Atque dicta, dignissimos, eius ex, fuga illum labore libero nostrum omnis pariatur qui quibusdam ratione similique totam voluptatem!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aspernatur corporis, cumque dicta dignissimos dolor ex exercitationem explicabo molestiae mollitia natus nisi non odio officiis quisquam reprehenderit sint suscipit ut.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut, consequuntur cupiditate deserunt dolorem exercitationem fuga incidunt ipsa maxime, nemo nihil non officia quis quisquam quo recusandae saepe, sapiente voluptate.
                    </p>
                </div>
            </div>
        </div>




        <div class="footer text-right">
            <a href="#" class="btn btn-default">Cancel</a>
            <a href="#" class="btn btn-primary">Start</a>
        </div>
    </div>
</div>
