
<div class="alert alert-dismissible alert-default mbn bg-white">
    <button type="button" class="close" onclick="$('#right').css('right', '-300px')">×</button>
    <h4>
        <i class="i-mailbox" data-bindattr-6373="6373"></i>&nbsp;
        Mailbox
    </h4>

    <div class="potential-migration-list">
        <div class="box-body">
            <small>
                <i class="i-check"></i>&nbsp;Contacts&nbsp;&nbsp;
                <i class="i-check"></i>&nbsp;Calendars&nbsp;&nbsp;
                <i class="i-check"></i>&nbsp;Mail&nbsp;&nbsp;
                <i class="i-check"></i>&nbsp;Journals&nbsp;&nbsp;
                <i class="i-check"></i>&nbsp;Notes&nbsp;&nbsp;
                <i class="i-check"></i>&nbsp;Tasks&nbsp;&nbsp;
                <i class="i-check"></i>&nbsp;Rules&nbsp;&nbsp;
            </small>
        </div>
    </div>
</div>
<ul class="list-group mbn">
    <a class="list-group-item no-border cursor-pointer">
        <div class="list-group-item-text">
            Office365 to Office365 Migration Guide - whilst changing domain names
        </div>
    </a>
    <a class="list-group-item no-border cursor-pointer">
        <div class="list-group-item-text">
            Office365 to Office365 Migration Guide - without changing domain names
        </div>
    </a>
    <a class="list-group-item no-border cursor-pointer">
        <div class="list-group-item-text">
            How do I migrate from Office 365?
        </div>
    </a>
    <a class="list-group-item no-border cursor-pointer">
        <div class="list-group-item-text">
            How do I migrate to Office 365?
        </div>
    </a>
    <a class="list-group-item no-border cursor-pointer" style="border-top: 1px solid #f6f6f6;">
        <span class="medium">Visit Knowledge Base</span>
    </a>
</ul>
