<nav class="navbar navbar-default navbar-fixed-second navbar-thin">
    <div class="">
        <div class="collapse navbar-collapse remove-gutters">
            <ul class="nav navbar-nav">
                <li><a href="create-project.html"><i class="i-plus"></i> &nbsp;Create Project</a></li>
                <li><a href="#"><i class="i-refresh"></i> &nbsp;Refresh</a></li>

            </ul>
            <form class="navbar-form navbar-left pull-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control inner-navbar-clear-inverse" placeholder="Search Project">
                </div>
                <button type="submit" class="btn btn-clear inner-navbar-clear-btn"><i class="i-search nudge down-1"></i></button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="i-sort"></i> &nbsp;Sort <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="i-filter"></i> &nbsp;Filter <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
