<style>
    .expander-pin i {
        opacity: 0.25;
    }
    .expander-pin i.active {
        opacity: 0.75;
    }
</style>
<!-- #menu -->
<ul id="menu" class="bg-blue dker">
    <li class="nav-header cursor-pointer">
        <div class="expander cursor-pointer">
            <div class="pull-right expander-pin">
                <i class="fa fa-thumb-tack rotate-90-degs toggle-menu" style="padding: 2px 0;opacity: 0.75;"></i>
            </div>
        </div>
        Dashboard Menu
    </li>
    <!--<li class="nav-divider"></li>-->

    <li class="">
        <a href="#">
            <span class="link-title"><i class="i-project"></i>&nbsp; My Projects</span>
        </a>
        <ul class="collapse">
            <li>
                <a href="project.html" class="truncate">
                    <i class="i-archive"></i> &nbsp;BitTitan Archive Migration Project #3245
                </a>
            </li>
            <li>
                <a href="project.html">
                    <i class="i-mailbox"></i> &nbsp;Exchange 2007 to Office 365
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#">
            <span class="link-title"><i class="i-plus"></i> &nbsp;Create New Project</span>
        </a>
        <ul class="collapse">
            <li>
                <a href="#">
                    <i class="i-mailbox"></i> &nbsp;Mailbox Project
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="i-public-folder"></i> &nbsp;Public Folder Project
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="i-document"></i> &nbsp;Document Project
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="i-archive"></i> &nbsp;Archive Project
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="i-enterprise-archive"></i> &nbsp;Enterprise Archive Project
                </a>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="#">
            <span class="link-title"><i class="i-credit"></i>&nbsp; Billing</span>
        </a>
        <ul class="collapse">
            <li>
                <a href="#">
                    <i class="i-dollar"></i> &nbsp;Purchase Licenses
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="i-license"></i> &nbsp;License Summary
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="i-credit"></i> &nbsp;Purchase History
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="i-discount"></i> &nbsp;Redeem Coupon
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#">
            <span class="link-title"><i class="i-support"></i>&nbsp; Support</span>
        </a>
        <ul class="collapse">
            <li>
                <a href="#">
                    <i class="i-at"></i> &nbsp;New Ticket
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="i-phone-24"></i> &nbsp;Phone Support
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="i-phone"></i> &nbsp;Advisor Hours
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="i-communicate"></i> &nbsp;Feedback
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#">
            <span class="link-title"><i class="i-user-alt"></i>&nbsp; Account</span>
        </a>
    </li>
</ul>
<!-- /#menu -->

