<style>
    .expander-pin i {
        opacity: 0.25;
    }
    .expander-pin i.active {
        opacity: 0.75;
    }
</style>
<!-- #menu -->
<ul id="menu" class="bg-blue dker">
    <li class="nav-header cursor-pointer">
        <div class="expander cursor-pointer">
            <div class="pull-right expander-pin">
                <i class="fa fa-thumb-tack toggle-menu" style="padding: 2px 0;"></i>
            </div>
        </div>
        Purchase Licenses
    </li>
    <!--<li class="nav-divider"></li>-->

    <li class="">
        <a href="purchase-licenses.html">
            <span class="link-title"><i class="i-creds"></i> &nbsp;Select Licenses</span>
        </a>
    </li>

    <li class="">
        <a href="#">
            <span class="link-title"><i class="i-source"></i>&nbsp; Billing Information</span>
        </a>
    </li>

    <li class="">
        <a href="#">
            <span class="link-title"><i class="i-destination"></i>&nbsp; Submit Payment</span>
        </a>
    </li>

    <!--<li class="">-->
        <!--<a href="#">-->
            <!--<span class="link-title"><i class="i-credit"></i>&nbsp; Billing</span>-->
        <!--</a>-->
        <!--<ul class="collapse">-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="i-dollar"></i> &nbsp;Purchase Licenses-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="i-license"></i> &nbsp;License Summary-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="i-credit"></i> &nbsp;Purchase History-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="i-discount"></i> &nbsp;Redeem Coupon-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->
    <!--<li class="">-->
        <!--<a href="#">-->
            <!--<span class="link-title"><i class="i-support"></i>&nbsp; Support</span>-->
        <!--</a>-->
        <!--<ul class="collapse">-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="i-at"></i> &nbsp;New Ticket-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="i-phone-24"></i> &nbsp;Phone Support-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="i-phone"></i> &nbsp;Advisor Hours-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="i-communicate"></i> &nbsp;Feedback-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->
    <!--<li class="">-->
        <!--<a href="#">-->
            <!--<span class="link-title"><i class="i-user-alt"></i>&nbsp; Account</span>-->
        <!--</a>-->
    <!--</li>-->
</ul>
<!-- /#menu -->

