<style>
    .expander-pin i {
        opacity: 0.25;
    }
    .expander-pin i.active {
        opacity: 0.75;
    }
</style>
<!-- #menu -->
<ul id="menu" class="bg-blue dker">
    <li class="nav-header cursor-pointer">
        <div class="expander cursor-pointer">
            <div class="pull-right expander-pin">
                <i class="fa fa-thumb-tack rotate-90-degs toggle-menu" style="padding: 2px 0;opacity: 0.75;"></i>
            </div>
        </div>
        Support Menu
    </li>
    <!--<li class="nav-divider"></li>-->

    <li class="">
        <a href="support.html">
            <span class="link-title"><i class="i-creds"></i> &nbsp;Support Home</span>
        </a>
    </li>

    <li class="">
        <a href="contact-support.html">
            <span class="link-title"><i class="i-source"></i>&nbsp; Contact Support</span>
        </a>
    </li>

    <li class="">
        <a href="advisor-hours.html">
            <span class="link-title"><i class="i-destination"></i>&nbsp; Advisor Hours</span>
        </a>
    </li>

    <li class="">
        <a href="feedback.html">
            <span class="link-title"><i class="i-destination"></i>&nbsp; Feedback</span>
        </a>
    </li>
</ul>
<!-- /#menu -->

