<!-- #menu -->
<ul id="menu" class="projects bg-blue dker">
    <li class="nav-header cursor-pointer">
        <div class="expander cursor-pointer">
            <div class="pull-right expander-pin">
                <i class="fa fa-thumb-tack active toggle-menu"></i>
            </div>
        </div>
        Projects
    </li>
    <!--<li class="nav-divider"></li>-->

    <li class="tab-project active">
        <a href="#" class="pvm">
            <div class="pvm">
                <small>
                    <i class="i-mailbox"></i>&nbsp;
                    <span><div class="truncate">BitTitan Migration Project #3245</div></span>
                    <i class="i-trash util pull-right mts"></i>
                    <i class="i-edit util pull-right mrs mts"></i>
                </small>
                <small>
                    <i class="i-exchange"></i>&nbsp; Exchange
                    &nbsp;<i class="fa fa-long-arrow-right"></i>
                    <i class="i-office-365"></i> Office 365
                    &nbsp;<span class="lb">45 ITEMS</span>
                </small>
            </div>
        </a>
    </li>
    <li class="tab-project">
        <a href="#" class="truncate pvm">
            <div class="pvm prs">
                <small>
                    <i class="i-mailbox"></i>&nbsp;
                    BitTitan Migration Project #3246
                    <i class="i-trash util pull-right mts"></i>
                    <i class="i-edit util pull-right mrs mts"></i>
                </small>
                <div>
                    <small>
                        <i class="i-exchange"></i>&nbsp; Exchange
                        &nbsp;<i class="fa fa-long-arrow-right"></i>
                        <i class="i-office-365"></i> Office 365
                        &nbsp;<span class="lb">45 ITEMS</span>
                    </small>
                </div>
            </div>
        </a>
    </li>
    <li class="tab-project">
        <a href="#" class="truncate pvm">
            <div class="pvm prs">
                <small>
                    <i class="i-mailbox"></i>&nbsp;
                    BitTitan Migration Project #3247
                    <i class="i-trash util pull-right mts"></i>
                    <i class="i-edit util pull-right mrs mts"></i>
                </small>
                <div>
                    <small>
                        <i class="i-exchange"></i>&nbsp; Exchange
                        &nbsp;<i class="fa fa-long-arrow-right"></i>
                        <i class="i-office-365"></i> Office 365
                        &nbsp;<span class="lb">45 ITEMS</span>
                    </small>
                </div>
            </div>
        </a>
    </li>
    <li class="tab-project">
        <a href="#" class="truncate pvm">
            <div class="pvm prs">
                <small>
                    <i class="i-mailbox"></i>&nbsp;
                    BitTitan Migration Project #3248
                    <i class="i-trash util pull-right mts"></i>
                    <i class="i-edit util pull-right mrs mts"></i>
                </small>
                <div>
                    <small>
                        <i class="i-exchange"></i>&nbsp; Exchange
                        &nbsp;<i class="fa fa-long-arrow-right"></i>
                        <i class="i-office-365"></i> Office 365
                        &nbsp;<span class="lb">45 ITEMS</span>
                    </small>
                </div>
            </div>
        </a>
    </li>
    <li class="tab-project">
        <a href="#" class="truncate pvm">
            <div class="pvm prs">
                <small>
                    <i class="i-mailbox"></i>&nbsp;
                    BitTitan Migration Project #3249
                    <i class="i-trash util pull-right mts"></i>
                    <i class="i-edit util pull-right mrs mts"></i>
                </small>
                <div>
                    <small>
                        <i class="i-exchange"></i>&nbsp; Exchange
                        &nbsp;<i class="fa fa-long-arrow-right"></i>
                        <i class="i-office-365"></i> Office 365
                        &nbsp;<span class="lb">12,452,345 ITEMS</span>
                    </small>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- /#menu -->
<script>
    $(document).ready(function () {
        $('#menu li a').click(function () {
            $('#menu li').removeClass('active');
            $(this).parent().addClass('active');
        });
    });
</script>
