<style>
    .expander-pin i {
        opacity: 0.25;
    }
    .expander-pin i.active {
        opacity: 0.75;
    }
    #menu.projects li a,
    #menu.projects li a div > div {
        width: 245px;
        margin-right: 5px;
        padding-right: 8px;
    }
    #menu.projects li a small {
        display: block;
    }
    #menu.projects li a small div {
        width: 174px;
        display: inline-block;
        position: relative;
        top: 6px;
        margin-top: -4px;
    }
    #menu.projects li a .util {
        display: none;
    }
    #menu.projects li.active a .util {
        display: inline;
    }
    #menu.projects li a .lb {
        padding: 0 3px;
        background: rgba(255,255,255,0.32);
        color: #303A45;
        border-radius: 3px;
    }
    #menu.projects li:hover a .lb {
        background: rgba(255,255,255,0.45);
    }
</style>
<!-- #menu -->
<ul id="menu" class="projects bg-blue dker">
    <li class="nav-header cursor-pointer">
        <div class="expander cursor-pointer">
            <div class="pull-right expander-pin">
                <i class="fa fa-thumb-tack active toggle-menu" style="padding: 2px 0;"></i>
            </div>
        </div>
        Projects
    </li>
    <!--<li class="nav-divider"></li>-->

    <li class="active">
        <a href="#" class="pvm">
            <div class="pvm">
                <small>
                    <i class="i-mailbox"></i>&nbsp;
                    <span><div class="truncate">BitTitan Migration Project #3245</div></span>
                    <i class="i-trash util pull-right mts"></i>
                    <i class="i-edit util pull-right mrs mts"></i>
                </small>
                <small>
                    <i class="i-exchange"></i>&nbsp; Exchange
                    &nbsp;<i class="fa fa-long-arrow-right"></i>
                    <i class="i-office-365"></i> Office 365
                    &nbsp;<span class="lb">45 ITEMS</span>
                </small>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="truncate pvm">
            <div class="pvm prs">
                <small>
                    <i class="i-mailbox"></i>&nbsp;
                    BitTitan Migration Project #3246
                    <i class="i-trash util pull-right mts"></i>
                    <i class="i-edit util pull-right mrs mts"></i>
                </small>
                <div>
                    <small>
                        <i class="i-exchange"></i>&nbsp; Exchange
                        &nbsp;<i class="fa fa-long-arrow-right"></i>
                        <i class="i-office-365"></i> Office 365
                        &nbsp;<span class="lb">45 ITEMS</span>
                    </small>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="truncate pvm">
            <div class="pvm prs">
                <small>
                    <i class="i-mailbox"></i>&nbsp;
                    BitTitan Migration Project #3247
                    <i class="i-trash util pull-right mts"></i>
                    <i class="i-edit util pull-right mrs mts"></i>
                </small>
                <div>
                    <small>
                        <i class="i-exchange"></i>&nbsp; Exchange
                        &nbsp;<i class="fa fa-long-arrow-right"></i>
                        <i class="i-office-365"></i> Office 365
                        &nbsp;<span class="lb">45 ITEMS</span>
                    </small>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="truncate pvm">
            <div class="pvm prs">
                <small>
                    <i class="i-mailbox"></i>&nbsp;
                    BitTitan Migration Project #3248
                    <i class="i-trash util pull-right mts"></i>
                    <i class="i-edit util pull-right mrs mts"></i>
                </small>
                <div>
                    <small>
                        <i class="i-exchange"></i>&nbsp; Exchange
                        &nbsp;<i class="fa fa-long-arrow-right"></i>
                        <i class="i-office-365"></i> Office 365
                        &nbsp;<span class="lb">45 ITEMS</span>
                    </small>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="truncate pvm">
            <div class="pvm prs">
                <small>
                    <i class="i-mailbox"></i>&nbsp;
                    BitTitan Migration Project #3249
                    <i class="i-trash util pull-right mts"></i>
                    <i class="i-edit util pull-right mrs mts"></i>
                </small>
                <div>
                    <small>
                        <i class="i-exchange"></i>&nbsp; Exchange
                        &nbsp;<i class="fa fa-long-arrow-right"></i>
                        <i class="i-office-365"></i> Office 365
                        &nbsp;<span class="lb">12,452,345 ITEMS</span>
                    </small>
                </div>
            </div>
        </a>
    </li>

    <!--<li class="">-->
    <!--<a href="#">-->

    <!--<span class="link-title"><i class="i-credit"></i>&nbsp; Billing</span>-->
    <!--</a>-->
    <!--<ul class="collapse">-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="i-dollar"></i> &nbsp;Purchase Licenses-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="i-license"></i> &nbsp;License Summary-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="i-credit"></i> &nbsp;Purchase History-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="i-discount"></i> &nbsp;Redeem Coupon-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li class="">-->
    <!--<a href="#">-->
    <!--<span class="link-title"><i class="i-support"></i>&nbsp; Support</span>-->
    <!--</a>-->
    <!--<ul class="collapse">-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="i-at"></i> &nbsp;New Ticket-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="i-phone-24"></i> &nbsp;Phone Support-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="i-phone"></i> &nbsp;Advisor Hours-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">-->
    <!--<i class="i-communicate"></i> &nbsp;Feedback-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li class="">-->
    <!--<a href="#">-->
    <!--<span class="link-title"><i class="i-user-alt"></i>&nbsp; Account</span>-->
    <!--</a>-->
    <!--</li>-->
</ul>
<!-- /#menu -->
<script>
    $(document).ready(function () {
        $('#menu li a').click(function () {
            $('#menu li').removeClass('active');
            $(this).parent().addClass('active');
        });
    });
</script>
