<!-- .live-chat -->
<div class="live-chat">
    <div class="header">
        <i class="fa fa-comments"></i>&nbsp; Stuck? We're here to help!&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="body"></div>
</div>
<!-- /.live-chat -->
