---
title: Contact Support
default: false
createProject: false
support: true
inner-navbar: false
inner-navbar-2: false
left-open: true
---
<style>
    #content {
        white-space: inherit;
    }
    a.btn-primary,
    a.btn-primary:hover {
        color: #eee;
    }
</style>

<div class="pal">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading Bg-secondary">
                    <h3 class="panel-title"><i class="i-help"></i> &nbsp;Contact Support</h3>
                </div>
                <div class="panel-body bg-white">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Open a New Ticket</legend>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-lg-2 control-label">Phone Number</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="phone" placeholder="Enter your phone number" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-lg-2 control-label">24x7 Phone Support</label>
                                <div class="col-lg-10">
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-4">
                                                <div class="checkbox no-margin no-margin-top" style="margin-top:-4px">
                                                    <label style="margin-top:-3px">
                                                        <input style="margin-top:3px" id="ember2208" class="ember-view ember-checkbox" type="checkbox" name="request-callback" disabled="disabled"> <script id="metamorph-371-start" type="text/x-placeholder"></script>Request Call Back<script id="metamorph-371-end" type="text/x-placeholder"></script>
                                                        &nbsp;<a id="ember2210" class="ember-view i-help help" href="http://www.bittitan.com/kb/KB004864" title="Premium Phone Support"></a>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-8">
                                    <span class="pull-right">
                                        <small>
                                            0 Premium Phone Support Licenses remaining. &nbsp;
                                            <a class="btn btn-xs btn-primary" href="purchase-licenses.html">Buy more</a>
                                        </small>
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">How many users do you plan on migrating?</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="select">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">How soon do you expect to start your migration?</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="select">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="col-lg-2 control-label">Subject</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="phone" placeholder="Enter your phone number" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="textArea" class="col-lg-2 control-label">Message</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows="3" id="textArea" data-gramm="" data-txt_gramm_id="ef53c2bc-569f-e7e5-5a3a-e0b8f7e28cee"></textarea>
                                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                                </div>
                            </div>

                            <div class="form-group ptx">
                                <div class="col-lg-12 text-right">
                                    <a href="index.html" class="btn btn-default">Cancel</a>
                                    <a href="index.html" class="btn btn-primary">Open Ticket</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Related Support Articles</h3>
                </div>
                <div class="panel-body bg-white">
                    <p>
                        No Articles Found. Fill in the contact form and we will present articles related to your question.
                    </p>
                </div>
        </div>

            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>More info helps us!</strong> The more information you provide us, the better we are able to help you.
            </div>

            <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Can I call you?</strong>
                <style>
                    a.text-clouds:hover {
                        color: #ccc;
                    }
                </style>
                <p>
                    Yes you can! <a class="text-clouds" href="#">Click here to purchase 24 x 7 Premium Phone Support Licenses.</a>
                </p>
                <p>
                    Premium Phone Support Licenses will guarantee that support personnel will call you back within 2 hours of your report of the incident and will work with you until the problem has been resolved.
                </p>

        </div>
    </div>

</div>

