---
title: Create a New Project
default: false
createProject: true
inner-navbar: false
inner-navbar-2: false
left-open: true
left: true
right: true
---

<div class="pal">
    <div class="row">
        <div class="col-md-12">


            <div class="list-group accordion">
                <div class="list-group-item awesome open">
                    <header>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="mtm Light">
                                    <i class="i-project"></i> &nbsp;
                                    Basic Project Information
                                </h4>
                                <hr>
                            </div>
                        </div>
                    </header>
                    <div class="content">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Project Type</label>
                                    <div class="col-lg-10">
                                        <p>
                                          <div class="label label-primary">Mailbox</div>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-lg-2 control-label">Project Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="Enter a name for your project">
                                    </div>
                                </div>

                                <div class="form-group ptl">
                                <div class="col-lg-12 text-right">
                                <!--<a href="#" class="btn btn-default">Cancel</a>-->
                                <a href="javascript:gotoStep(2)" class="btn btn-primary">Next</a>
                                </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>


                <div class="list-group-item">
                    <header>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="mtm Light">
                                    <a href="#" class="pull-right btn mts btn-sm btn-default nudge-up-5"><i class="i-plus"></i> &nbsp;Select By Service Provider</a>
                                    <i class="i-source"></i>&nbsp;
                                    Configure Source Settings
                                </h4>
                                <hr>
                            </div>
                        </div>
                    </header>
                    <div class="content">
                        <form class="form-horizontal">


                            <fieldset>



                                <div class="form-group">

                                    <label for="select" class="col-lg-2 control-label">Server Type</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="select">
                                            <option>Microsoft Office 365</option>
                                            <option>Exchange Server 2003+</option>
                                            <option>Microsoft Office 365 (China)</option>
                                            <option>IMAP</option>
                                            <option>Groupwise 7+</option>
                                            <option>POP</option>
                                            <option>Zimbra 6+</option>
                                            <option>Lotus Notes 6.5+</option>
                                            <option>Amazon S3 (archive)</option>
                                            <option>Open-Xchange</option>
                                            <option>Google Apps/Gmail</option>
                                            <option>EML</option>
                                        </select>
                                        <div class="checkbox">
                                            <label>
                                                <input class="use-admin-creds" type="checkbox"> Use Administrator Credentials
                                            </label>
                                            <hr class="admin-creds">
                                        </div>
                                    </div>
                                </div>


                                <div class="admin-creds">
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-lg-2 control-label">Administrator Username</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="inputEmail" placeholder="Administrator Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-lg-2 control-label">Administrator Password</label>
                                        <div class="col-lg-10">

                                            <div class="input-group">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="Administrator Password">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-input"><i class="i-eye"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <div class="form-group ptl">
                                <div class="col-lg-12 text-right">
                                <a href="javascript:gotoStep(1)" class="btn btn-default">Back</a>
                                <a href="javascript:gotoStep(3)" class="btn btn-primary">Next</a>
                                </div>
                                </div>


                            </fieldset>
                        </form>
                    </div>
                </div>


                <div class="list-group-item errors">
                    <header>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="mtm Light">
                                    <a href="#" class="pull-right btn mts btn-sm btn-default nudge-up-5"><i class="i-plus"></i> &nbsp;Select By Service Provider</a>
                                    <i class="i-destination"></i>&nbsp;
                                    Configure Destination Settings
                                </h4>
                                <hr>
                            </div>
                        </div>
                    </header>
                    <div class="content">
                        <form class="form-horizontal">


                            <fieldset>



                                <div class="form-group">

                                    <label for="select" class="col-lg-2 control-label">Server Type</label>
                                    <div class="col-lg-10">
                                        <select class="form-control error" id="select">
                                            <option>Microsoft Office 365</option>
                                            <option>Exchange Server 2003+</option>
                                            <option>Microsoft Office 365 (China)</option>
                                            <option>IMAP</option>
                                            <option>Groupwise 7+</option>
                                            <option>POP</option>
                                            <option>Zimbra 6+</option>
                                            <option>Lotus Notes 6.5+</option>
                                            <option>Amazon S3 (archive)</option>
                                            <option>Open-Xchange</option>
                                            <option>Google Apps/Gmail</option>
                                            <option>EML</option>
                                        </select>
                                        <span class="error">You must select a destination</span>
                                        <div class="checkbox">
                                            <label>
                                                <input class="use-admin-creds-2" type="checkbox"> Use Administrator Credentials
                                            </label>
                                            <hr class="admin-creds-2">
                                        </div>
                                    </div>
                                </div>

                                <div class="admin-creds-2">
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-lg-2 control-label">Administrator Username</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control error" id="inputEmail" placeholder="Administrator Username">
                                            <span class="error">When using admin credentials, You must enter a username</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-lg-2 control-label">Administrator Password</label>
                                        <div class="col-lg-10">
                                        <!--<span class="input-group-btn">-->
                                            <!--<input type="password" class="form-control error" id="inputPassword" placeholder="Administrator Password">-->
                                        <!--</span>-->

                                            <div class="input-group">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="Administrator Password">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-input"><i class="i-eye"></i></button>
                                                </span>
                                            </div>

                                            <span class="error">When using admin credentials, You must enter a password</span>
                                        </div>
                                    </div>
                                </div>




                                <br><br><br>
                                <p class="text-right">
                                    <a href="projects.html" class="btn btn-default">
                                        <i class="i-cog"></i>&nbsp;
                                        Advanced Options</a>
                                    <a href="projects.html" class="btn btn-primary">Finish</a>
                                </p>



                            </fieldset>
                        </form>
                    </div>
                </div>






            </div>



        </div>
    </div>
</div>

<script>
    function gotoStep (step) {
        step = parseInt(step) - 1;
        $('.accordion .list-group-item').removeClass('open');
        $('.accordion .list-group-item').eq(step).addClass('open');
    }
//    setInterval(function () {
//        $('.errors').each(function () {
//            if ($(this).hasClass('open')) $(this).removeClass('errors');
//        });
////        if (!$('.awesome').hasClass('open')) $('.awesome').addClass('valid');
////        if ($('.awesome').hasClass('open')) $('.awesome').removeClass('valid');
//    });
    $('.use-admin-creds').click(function () {
        if ($('.use-admin-creds').is(':checked')) {
            $('.admin-creds').show();
        } else {
            $('.admin-creds').hide();
        }
    });
    $('.use-admin-creds-2').click(function () {
        if ($('.use-admin-creds-2').is(':checked')) {
            $('.admin-creds-2').show();
        } else {
            $('.admin-creds-2').hide();
        }
    });
</script>
