---
title: Create a New Project
default: false
createProject: true
inner-navbar: false
inner-navbar-2: false
left-open: true
left: true
right: true
---
<style>
    #content {
        white-space: inherit;
    }
    a.btn-primary,
    a.btn-primary:hover {
        color: #eee;
    }
    .accordion .list-group-item {
        background: #f3f3f3;
        padding: 0 15px;
        transition: all 300ms ease-in-out;
    }
    .accordion .list-group-item hr,
    .accordion .list-group-item .btn {
        display: none;
    }
    .accordion .list-group-item.open {
        background: #fff;
        padding: 10px 15px;
    }
    .accordion .list-group-item.open hr{
        display: block;
    }
    .accordion .list-group-item.open .btn {
        display: inline;
    }
    .accordion header {
        cursor: pointer;
    }
    /*.accordion .list-group-item.errors {*/
        /*background: #FFDED8;*/
        /*color: #888;*/
    /*}*/
    /*.accordion .list-group-item.valid {*/
        /*background: #ECFFE1;*/
    /*}*/
    /*.accordion .list-group-item.errors h4::after {*/
        /*display: inline;*/
        /*font: normal normal normal 14px/1 FontAwesome;*/
        /*content: "\f06a";*/
        /*padding-left: 10px;*/
        /*font-size: 19px;*/
    /*}*/
    /*span.error {*/
        /*display: block;*/
        /*margin-top: 1px;*/
        /*padding: 0 10px;*/
        /*background: #FFDED8;*/
        /*color: #555;*/
    /*}*/
    /*input.error,*/
    /*select.error {*/
        /*border-color: #FFDED8;*/
        /*color: #222;*/
    /*}*/
    span.error {
        display: none;
    }
    .admin-creds,
    .admin-creds-2 {
        display: none;
    }
</style>

<div class="pal">
    <div class="row">
        <div class="col-md-12">


            <div class="list-group accordion">
                <div class="list-group-item awesome open">
                    <header>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="mtm Light">
                                    <i class="i-project"></i> &nbsp;
                                    Basic Project Information
                                </h4>
                                <hr>
                            </div>
                        </div>
                    </header>
                    <div class="content">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">Project Type</label>
                                    <div class="col-lg-10">
                                        <p style="margin-top:-3px">
                                        <div class="label label-primary">Mailbox</div>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-lg-2 control-label">Project Name</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="Enter a name for your project" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
                                    </div>
                                </div>

                                <div class="form-group ptl">
                                <div class="col-lg-12 text-right">
                                <!--<a href="#" class="btn btn-default">Cancel</a>-->
                                <a href="javascript:gotoStep(2)" class="btn btn-primary">Next</a>
                                </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>


                <div class="list-group-item">
                    <header>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="mtm Light">
                                    <a href="#" class="pull-right btn mts btn-sm btn-default" style="position:relative;top:-7px"><i class="i-plus"></i> &nbsp;Select By Service Provider</a>
                                    <i class="i-source"></i>&nbsp;
                                    Configure Source Settings
                                </h4>
                                <hr>
                            </div>
                        </div>
                    </header>
                    <div class="content">
                        <form class="form-horizontal">


                            <fieldset>



                                <div class="form-group">

                                    <label for="select" class="col-lg-2 control-label">Server Type</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="select">
                                            <option>Microsoft Office 365</option>
                                            <option>Exchange Server 2003+</option>
                                            <option>Microsoft Office 365 (China)</option>
                                            <option>IMAP</option>
                                            <option>Groupwise 7+</option>
                                            <option>POP</option>
                                            <option>Zimbra 6+</option>
                                            <option>Lotus Notes 6.5+</option>
                                            <option>Amazon S3 (archive)</option>
                                            <option>Open-Xchange</option>
                                            <option>Google Apps/Gmail</option>
                                            <option>EML</option>
                                        </select>
                                        <div class="checkbox">
                                            <label>
                                                <input class="use-admin-creds" type="checkbox"> Use Administrator Credentials
                                            </label>
                                            <hr class="admin-creds">
                                        </div>
                                    </div>
                                </div>


                                <div class="admin-creds">
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-lg-2 control-label">Administrator Username</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="inputEmail" placeholder="Administrator Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-lg-2 control-label">Administrator Password</label>
                                        <div class="col-lg-10">
                                            <span class="input-group-btn">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="Administrator Password">
                                            </span>
                                        </div>
                                    </div>
                                </div>





                                <div class="form-group ptl">
                                <div class="col-lg-12 text-right">
                                <a href="javascript:gotoStep(1)" class="btn btn-default">Back</a>
                                <a href="javascript:gotoStep(3)" class="btn btn-primary">Next</a>
                                </div>
                                </div>


                            </fieldset>
                        </form>
                    </div>
                </div>


                <div class="list-group-item errors">
                    <header>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="mtm Light">
                                    <a href="#" class="pull-right btn mts btn-sm btn-default" style="position:relative;top:-7px"><i class="i-plus"></i> &nbsp;Select By Service Provider</a>
                                    <i class="i-destination"></i>&nbsp;
                                    Configure Destination Settings
                                </h4>
                                <hr>
                            </div>
                        </div>
                    </header>
                    <div class="content">
                        <form class="form-horizontal">


                            <fieldset>



                                <div class="form-group">

                                    <label for="select" class="col-lg-2 control-label">Server Type</label>
                                    <div class="col-lg-10">
                                        <select class="form-control error" id="select">
                                            <option>Microsoft Office 365</option>
                                            <option>Exchange Server 2003+</option>
                                            <option>Microsoft Office 365 (China)</option>
                                            <option>IMAP</option>
                                            <option>Groupwise 7+</option>
                                            <option>POP</option>
                                            <option>Zimbra 6+</option>
                                            <option>Lotus Notes 6.5+</option>
                                            <option>Amazon S3 (archive)</option>
                                            <option>Open-Xchange</option>
                                            <option>Google Apps/Gmail</option>
                                            <option>EML</option>
                                        </select>
                                        <span class="error">You must select a destination</span>
                                        <div class="checkbox">
                                            <label>
                                                <input class="use-admin-creds-2" type="checkbox"> Use Administrator Credentials
                                            </label>
                                            <hr class="admin-creds-2">
                                        </div>
                                    </div>
                                </div>

                                <div class="admin-creds-2">
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-lg-2 control-label">Administrator Username</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control error" id="inputEmail" placeholder="Administrator Username">
                                            <span class="error">When using admin credentials, You must enter a username</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-lg-2 control-label">Administrator Password</label>
                                        <div class="col-lg-10">
                                        <span class="input-group-btn">
                                            <input type="password" class="form-control error" id="inputPassword" placeholder="Administrator Password">
                                        </span>
                                            <span class="error">When using admin credentials, You must enter a password</span>

                                        </div>
                                    </div>
                                </div>




                                <br><br><br>
                                <p class="text-right">
                                    <a href="projects.html" class="btn btn-default">
                                        <i class="i-cog"></i>&nbsp;
                                        Advanced Options</a>
                                    <a href="projects.html" class="btn btn-primary">Finish</a>
                                </p>



                            </fieldset>
                        </form>
                    </div>
                </div>






            </div>



        </div>
    </div>
</div>

<script>
    function gotoStep (step) {
        step = parseInt(step) - 1;
        $('.accordion .list-group-item').removeClass('open');
        $('.accordion .list-group-item').eq(step).addClass('open');
    }
//    setInterval(function () {
//        $('.errors').each(function () {
//            if ($(this).hasClass('open')) $(this).removeClass('errors');
//        });
////        if (!$('.awesome').hasClass('open')) $('.awesome').addClass('valid');
////        if ($('.awesome').hasClass('open')) $('.awesome').removeClass('valid');
//    });
    $('.use-admin-creds').click(function () {
        if ($('.use-admin-creds').is(':checked')) {
            $('.admin-creds').show();
        } else {
            $('.admin-creds').hide();
        }
    });
    $('.use-admin-creds-2').click(function () {
        if ($('.use-admin-creds-2').is(':checked')) {
            $('.admin-creds-2').show();
        } else {
            $('.admin-creds-2').hide();
        }
    });
</script>
