---
title: Dashboard
default: true
inner-navbar: false
inner-navbar-2: false
---
<style>
    #content {
        white-space: inherit;
    }
</style>
<div class="container">


    <div class="row ptl">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="i-project"></i> &nbsp;Recent Projects</h3>
                </div>
                <div class="panel-body pan">
                    <table class="table project-list mbn">
                        <thead>
                        <tr>
                            <th>Project Name</th>
                            <th class="w-30"><i class="i-source" title="Source"></i></th>
                            <th class="w-30"><i class="i-destination" title="Destination"></i></th>
                            <th class="w-30">Items</th>
                            <th class="w-30"><i class="i-stop text-grey" title="Not Migrated"></i></th>
                            <th class="w-30"><i class="i-user-waiting text-primary" title="Waiting for User"></i></th>
                            <th class="w-30"><i class="i-play text-info" title="Migrating"></i></th>
                            <th class="w-30"><i class="i-pause text-warning" title="Paused"></i></th>
                            <th class="w-30"><i class="i-check text-success" title="Completed"></i></th>
                            <th class="w-30"><i class="i-danger text-danger" title="Failed"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                            <td>
                                <i class="i-pst"></i>
                            </td>
                            <td>
                                <i class="i-google"></i>
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                            </td>
                            <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                            <td>
                                <i class="i-pst"></i>
                            </td>
                            <td>
                                <i class="i-google"></i>
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                            </td>
                            <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                            <td>
                                <i class="i-pst"></i>
                            </td>
                            <td>
                                <i class="i-google"></i>
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                            </td>
                            <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                            <td>
                                <i class="i-pst"></i>
                            </td>
                            <td>
                                <i class="i-google"></i>
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                            </td>
                            <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                            <td>
                                <i class="i-pst"></i>
                            </td>
                            <td>
                                <i class="i-google"></i>
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                            </td>
                            <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                            </td>
                            <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="i-star"></i> &nbsp;Special Offers</h3>
                </div>
                <div class="panel-body bg-white ptl" style="min-height: 213px;">
                    <a href="#">
                        <strong><i class="i-office-365"></i> &nbsp;OFFICE 365 ACTIVATION BUNDLE</strong>
                    </a>
                    <p class="light pts">
                        <small>
                            MigrationWiz and DeploymentPro are now available as a bundle for $13.99.
                        </small>
                    </p>

                    <div class="ptm"></div>
                    <a href="#">
                        <strong><i class="i-bittitan" style="position:relative;top:1px"></i> &nbsp;BITTITAN YAMMER NETWORK</strong>
                    </a>
                    <p class="light pts">
                        <small>
                            Want to have direct access to product owners?
                            Want to provide feedback and ask questions about our products?
                            What to get notifications about new features and capabilities?
                            <br>This is the place for you!
                        </small>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="stat-card">
                <div class="icon Bg-secondary-3">
                    <i class="i-numbered"></i>
                </div>
                <div class="value ptm">
                    <h3 class="man Light">1,443</h3>
                    <p class="Light">Items Migrating</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="stat-card">
                <div class="icon Bg-secondary-5">
                    <i class="i-project"></i>
                </div>
                <div class="value ptm">
                    <h3 class="man Light">2</h3>
                    <p class="Light">Active Projects</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading Bg-slate">
                    <h3 class="panel-title"><i class="i-license"></i> &nbsp;No Licenses Remaining</h3>
                </div>
                <div class="panel-body bg-white ptl">
                    <p class="pts pull-right">
                        <button class="btn btn-primary" href="#"><i class="i-license"></i> &nbsp;Purchase Licenses</button>
                    </p>
                    <p class="ptxs">
                        <small>
                            <em>
                                You currently do not have any MigrationWiz licenses.
                                <br>Without active licenses, you can only perform<br>trial migrations (5mb or less).
                            </em>
                        </small>
                    </p>

                </div>
            </div>
        </div>

        <!--<div class="col-sm-6 col-md-3">-->
        <!--<div class="stat-card">-->
        <!--<div class="icon red">-->
        <!--<i class="i-numbered"></i>-->
        <!--</div>-->
        <!--<div class="value ptm">-->
        <!--<h3 class="man Light">1,443</h3>-->
        <!--<p class="Light">Items Migrating</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="col-sm-6 col-md-3">-->
        <!--<div class="stat-card">-->
        <!--<div class="icon blue">-->
        <!--<i class="i-project"></i>-->
        <!--</div>-->
        <!--<div class="value ptm">-->
        <!--<h3 class="man Light">1</h3>-->
        <!--<p class="Light">Active Projects</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

    </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="i-check"></i> &nbsp;Recently Completed Migrations</h3>
                </div>
                <div class="panel-body pan">
                    <div class="list-group" style="margin-bottom:1px;">
                        <script id="metamorph-1429-start" type="text/x-placeholder"></script>
                        <script id="metamorph-1459-start" type="text/x-placeholder"></script>
                        <script id="metamorph-1464-start" type="text/x-placeholder"></script><script id="metamorph-1460-start" type="text/x-placeholder"></script>
                        <a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19/06931935-6c56-11e4-942a-00155dc71f19" data-bindattr-6345="6345" class="list-group-item">
                            <div class="text-overflow">
                                <i class="i-mailbox hidden-xs-inline hidden-sm-inline" data-bindattr-6346="6346"></i>
                                <b>
                                    <script id="metamorph-1465-start" type="text/x-placeholder"></script>
                                    <script id="metamorph-1466-start" type="text/x-placeholder"></script>asdf@af.co<script id="metamorph-1466-end" type="text/x-placeholder"></script>
                                    <script id="metamorph-1465-end" type="text/x-placeholder"></script>
                                </b>
                                <small><script id="metamorph-1467-start" type="text/x-placeholder"></script>succeeded<script id="metamorph-1467-end" type="text/x-placeholder"></script> <script id="metamorph-1468-start" type="text/x-placeholder"></script>2 months ago<script id="metamorph-1468-end" type="text/x-placeholder"></script></small>
                            </div>
                        </a>
                        <script id="metamorph-1460-end" type="text/x-placeholder"></script><script id="metamorph-1461-start" type="text/x-placeholder"></script>
                        <a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19/5c065a9b-a333-11e4-942c-00155d001986" data-bindattr-6349="6349" class="list-group-item">
                            <div class="text-overflow">
                                <i class="i-mailbox hidden-xs-inline hidden-sm-inline" data-bindattr-6350="6350"></i>
                                <b>
                                    <script id="metamorph-1469-start" type="text/x-placeholder"></script>
                                    <script id="metamorph-1470-start" type="text/x-placeholder"></script>test10@bittitan.com<script id="metamorph-1470-end" type="text/x-placeholder"></script>
                                    <script id="metamorph-1469-end" type="text/x-placeholder"></script>
                                </b>
                                <small><script id="metamorph-1471-start" type="text/x-placeholder"></script>succeeded<script id="metamorph-1471-end" type="text/x-placeholder"></script> <script id="metamorph-1472-start" type="text/x-placeholder"></script>5 months ago<script id="metamorph-1472-end" type="text/x-placeholder"></script></small>
                            </div>
                        </a>
                        <script id="metamorph-1461-end" type="text/x-placeholder"></script><script id="metamorph-1462-start" type="text/x-placeholder"></script>
                        <a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19/0c937dda-6c56-11e4-942a-00155dc71f19" data-bindattr-6353="6353" class="list-group-item">
                            <div class="text-overflow">
                                <i class="i-mailbox hidden-xs-inline hidden-sm-inline" data-bindattr-6354="6354"></i>
                                <b>
                                    <script id="metamorph-1473-start" type="text/x-placeholder"></script>
                                    <script id="metamorph-1474-start" type="text/x-placeholder"></script>asdf@af.co<script id="metamorph-1474-end" type="text/x-placeholder"></script>
                                    <script id="metamorph-1473-end" type="text/x-placeholder"></script>
                                </b>
                                <small><script id="metamorph-1475-start" type="text/x-placeholder"></script>succeeded<script id="metamorph-1475-end" type="text/x-placeholder"></script> <script id="metamorph-1476-start" type="text/x-placeholder"></script>7 months ago<script id="metamorph-1476-end" type="text/x-placeholder"></script></small>
                            </div>
                        </a>
                        <script id="metamorph-1462-end" type="text/x-placeholder"></script><script id="metamorph-1463-start" type="text/x-placeholder"></script>
                        <a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19/0c937cd7-6c56-11e4-942a-00155dc71f19" data-bindattr-6357="6357" class="list-group-item">
                            <div class="text-overflow">
                                <i class="i-mailbox hidden-xs-inline hidden-sm-inline" data-bindattr-6358="6358"></i>
                                <b>
                                    <script id="metamorph-1477-start" type="text/x-placeholder"></script>
                                    <script id="metamorph-1478-start" type="text/x-placeholder"></script>asdf@af.co<script id="metamorph-1478-end" type="text/x-placeholder"></script>
                                    <script id="metamorph-1477-end" type="text/x-placeholder"></script>
                                </b>
                                <small><script id="metamorph-1479-start" type="text/x-placeholder"></script>succeeded<script id="metamorph-1479-end" type="text/x-placeholder"></script> <script id="metamorph-1480-start" type="text/x-placeholder"></script>8 months ago<script id="metamorph-1480-end" type="text/x-placeholder"></script></small>
                            </div>
                        </a>
                        <script id="metamorph-1463-end" type="text/x-placeholder"></script><script id="metamorph-1464-end" type="text/x-placeholder"></script>
                        <script id="metamorph-1459-end" type="text/x-placeholder"></script>
                        <script id="metamorph-1429-end" type="text/x-placeholder"></script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="i-danger"></i> &nbsp;Recently Failed Migrations</h3>
                </div>
                <div class="panel-body pan">
                    <div class="list-group" style="margin-bottom:1px;">
                        <script id="metamorph-1429-start" type="text/x-placeholder"></script>
                        <script id="metamorph-1459-start" type="text/x-placeholder"></script>
                        <script id="metamorph-1464-start" type="text/x-placeholder"></script><script id="metamorph-1460-start" type="text/x-placeholder"></script>
                        <a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19/06931935-6c56-11e4-942a-00155dc71f19" data-bindattr-6345="6345" class="list-group-item">
                            <div class="text-overflow">
                                <i class="i-mailbox hidden-xs-inline hidden-sm-inline" data-bindattr-6346="6346"></i>
                                <b>
                                    <script id="metamorph-1465-start" type="text/x-placeholder"></script>
                                    <script id="metamorph-1466-start" type="text/x-placeholder"></script>asdf@af.co<script id="metamorph-1466-end" type="text/x-placeholder"></script>
                                    <script id="metamorph-1465-end" type="text/x-placeholder"></script>
                                </b>
                                <small><script id="metamorph-1467-start" type="text/x-placeholder"></script>failed<script id="metamorph-1467-end" type="text/x-placeholder"></script> <script id="metamorph-1468-start" type="text/x-placeholder"></script>2 months ago<script id="metamorph-1468-end" type="text/x-placeholder"></script></small>
                            </div>
                        </a>
                        <script id="metamorph-1460-end" type="text/x-placeholder"></script><script id="metamorph-1461-start" type="text/x-placeholder"></script>
                        <a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19/5c065a9b-a333-11e4-942c-00155d001986" data-bindattr-6349="6349" class="list-group-item">
                            <div class="text-overflow">
                                <i class="i-mailbox hidden-xs-inline hidden-sm-inline" data-bindattr-6350="6350"></i>
                                <b>
                                    <script id="metamorph-1469-start" type="text/x-placeholder"></script>
                                    <script id="metamorph-1470-start" type="text/x-placeholder"></script>test10@bittitan.com<script id="metamorph-1470-end" type="text/x-placeholder"></script>
                                    <script id="metamorph-1469-end" type="text/x-placeholder"></script>
                                </b>
                                <small><script id="metamorph-1471-start" type="text/x-placeholder"></script>failed<script id="metamorph-1471-end" type="text/x-placeholder"></script> <script id="metamorph-1472-start" type="text/x-placeholder"></script>5 months ago<script id="metamorph-1472-end" type="text/x-placeholder"></script></small>
                            </div>
                        </a>
                        <script id="metamorph-1461-end" type="text/x-placeholder"></script><script id="metamorph-1462-start" type="text/x-placeholder"></script>
                        <a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19/0c937dda-6c56-11e4-942a-00155dc71f19" data-bindattr-6353="6353" class="list-group-item">
                            <div class="text-overflow">
                                <i class="i-mailbox hidden-xs-inline hidden-sm-inline" data-bindattr-6354="6354"></i>
                                <b>
                                    <script id="metamorph-1473-start" type="text/x-placeholder"></script>
                                    <script id="metamorph-1474-start" type="text/x-placeholder"></script>asdf@af.co<script id="metamorph-1474-end" type="text/x-placeholder"></script>
                                    <script id="metamorph-1473-end" type="text/x-placeholder"></script>
                                </b>
                                <small><script id="metamorph-1475-start" type="text/x-placeholder"></script>failed<script id="metamorph-1475-end" type="text/x-placeholder"></script> <script id="metamorph-1476-start" type="text/x-placeholder"></script>7 months ago<script id="metamorph-1476-end" type="text/x-placeholder"></script></small>
                            </div>
                        </a>
                        <script id="metamorph-1462-end" type="text/x-placeholder"></script><script id="metamorph-1463-start" type="text/x-placeholder"></script>
                        <a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19/0c937cd7-6c56-11e4-942a-00155dc71f19" data-bindattr-6357="6357" class="list-group-item">
                            <div class="text-overflow">
                                <i class="i-mailbox hidden-xs-inline hidden-sm-inline" data-bindattr-6358="6358"></i>
                                <b>
                                    <script id="metamorph-1477-start" type="text/x-placeholder"></script>
                                    <script id="metamorph-1478-start" type="text/x-placeholder"></script>asdf@af.co<script id="metamorph-1478-end" type="text/x-placeholder"></script>
                                    <script id="metamorph-1477-end" type="text/x-placeholder"></script>
                                </b>
                                <small><script id="metamorph-1479-start" type="text/x-placeholder"></script>failed<script id="metamorph-1479-end" type="text/x-placeholder"></script> <script id="metamorph-1480-start" type="text/x-placeholder"></script>8 months ago<script id="metamorph-1480-end" type="text/x-placeholder"></script></small>
                            </div>
                        </a>
                        <script id="metamorph-1463-end" type="text/x-placeholder"></script><script id="metamorph-1464-end" type="text/x-placeholder"></script>
                        <script id="metamorph-1459-end" type="text/x-placeholder"></script>
                        <script id="metamorph-1429-end" type="text/x-placeholder"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br><br><br><br><br>
    <br><br><br><br><br>
</div>
