---
title: Destination Settings
default: false
createProject: true
inner-navbar: false
inner-navbar-2: false
left-open: true
---
<style>
</style>

<div class="pal">
    <div class="panel panel-info">
        <div class="panel-heading Bg-secondary">
            <h3 class="panel-title">
                <i class="i-destination"></i> &nbsp;Project Summary
            </h3>
        </div>
        <div class="panel-body bg-white">


            <fieldset>
                <legend>
                    <i class="i-office-365"></i>&nbsp;
                    <strong>Microsoft Office 365</strong>
                    to
                    <i class="i-office-365"></i>&nbsp;
                    <strong>Microsoft Office 365</strong>
                </legend>
            </fieldset>




            <h4 class="Strong">Migration Guides</h4>


            <a href="http://www.bittitan.com/kb/KB004973" title="Office365 to Office365 Migration Guide - whilst changing domain names"><i class="i-help"></i> &nbsp;Office365 to Office365 Migration Guide - whilst changing domain names</a>
            <br><a href="http://www.bittitan.com/kb/KB005005" title="Office365 to Office365 Migration Guide - whilst keeping the same domain name"><i class="i-help"></i> &nbsp;Office365 to Office365 Migration Guide - whilst keeping the same domain name</a>



            <h4 class="Strong">Supported Items</h4>

<small>Based on your configuration, the following items can be migrated with this project:</small>

                <div id="supported-items-list">
                    <p>
                        <small><script id="metamorph-1772-start" type="text/x-placeholder"></script><script id="metamorph-1772-end" type="text/x-placeholder"></script></small>
                    </p>
                    <div class="potential-migration-list">
                        <div class="box-body">
                            <script id="metamorph-1773-start" type="text/x-placeholder"></script>
                            <span><i class="i-mailbox" data-bindattr-6373="6373"></i>&nbsp;<script id="metamorph-1774-start" type="text/x-placeholder"></script>Mailbox<script id="metamorph-1774-end" type="text/x-placeholder"></script></span>
                            <script id="metamorph-1773-end" type="text/x-placeholder"></script>
                            <div class="hidden-xs"></div>
                            <small>
                                <script id="metamorph-1775-start" type="text/x-placeholder"></script>
                                <script id="metamorph-1776-start" type="text/x-placeholder"></script>
                                <script id="metamorph-1777-start" type="text/x-placeholder"></script>
                                <script id="metamorph-1805-start" type="text/x-placeholder"></script><script id="metamorph-1798-start" type="text/x-placeholder"></script>
                                <i class="i-check"></i>&nbsp;<script id="metamorph-1806-start" type="text/x-placeholder"></script>Contacts<script id="metamorph-1806-end" type="text/x-placeholder"></script>&nbsp;&nbsp;
                                <script id="metamorph-1798-end" type="text/x-placeholder"></script><script id="metamorph-1799-start" type="text/x-placeholder"></script>
                                <i class="i-check"></i>&nbsp;<script id="metamorph-1807-start" type="text/x-placeholder"></script>Calendars<script id="metamorph-1807-end" type="text/x-placeholder"></script>&nbsp;&nbsp;
                                <script id="metamorph-1799-end" type="text/x-placeholder"></script><script id="metamorph-1800-start" type="text/x-placeholder"></script>
                                <i class="i-check"></i>&nbsp;<script id="metamorph-1808-start" type="text/x-placeholder"></script>Mail<script id="metamorph-1808-end" type="text/x-placeholder"></script>&nbsp;&nbsp;
                                <script id="metamorph-1800-end" type="text/x-placeholder"></script><script id="metamorph-1801-start" type="text/x-placeholder"></script>
                                <i class="i-check"></i>&nbsp;<script id="metamorph-1809-start" type="text/x-placeholder"></script>Journals<script id="metamorph-1809-end" type="text/x-placeholder"></script>&nbsp;&nbsp;
                                <script id="metamorph-1801-end" type="text/x-placeholder"></script><script id="metamorph-1802-start" type="text/x-placeholder"></script>
                                <i class="i-check"></i>&nbsp;<script id="metamorph-1810-start" type="text/x-placeholder"></script>Notes<script id="metamorph-1810-end" type="text/x-placeholder"></script>&nbsp;&nbsp;
                                <script id="metamorph-1802-end" type="text/x-placeholder"></script><script id="metamorph-1803-start" type="text/x-placeholder"></script>
                                <i class="i-check"></i>&nbsp;<script id="metamorph-1811-start" type="text/x-placeholder"></script>Tasks<script id="metamorph-1811-end" type="text/x-placeholder"></script>&nbsp;&nbsp;
                                <script id="metamorph-1803-end" type="text/x-placeholder"></script><script id="metamorph-1804-start" type="text/x-placeholder"></script>
                                <i class="i-check"></i>&nbsp;<script id="metamorph-1812-start" type="text/x-placeholder"></script>Rules<script id="metamorph-1812-end" type="text/x-placeholder"></script>&nbsp;&nbsp;
                                <script id="metamorph-1804-end" type="text/x-placeholder"></script><script id="metamorph-1805-end" type="text/x-placeholder"></script>
                                <script id="metamorph-1777-end" type="text/x-placeholder"></script>
                                <script id="metamorph-1776-end" type="text/x-placeholder"></script>
                                <script id="metamorph-1775-end" type="text/x-placeholder"></script>
                            </small>
                        </div>
                    </div>
                    <script id="metamorph-1779-start" type="text/x-placeholder"></script><script id="metamorph-1779-end" type="text/x-placeholder"></script>

                    <script id="metamorph-1780-start" type="text/x-placeholder"></script><script id="metamorph-1780-end" type="text/x-placeholder"></script>
                </div>



            <h4 class="Strong">Need Help?</h4>


            <div id="kb-article-list" class="hidden-xs">
                    <p>
                        <small><script id="metamorph-1814-start" type="text/x-placeholder"></script>Listed below are some Knowledge Base articles related to your current configuration<script id="metamorph-1814-end" type="text/x-placeholder"></script>.</small>
                    </p>
                    <div>
                        <ul class="kb-articles">
                            <script id="metamorph-1817-start" type="text/x-placeholder"></script><script id="metamorph-1815-start" type="text/x-placeholder"></script>
                            <li><a id="ember6470" class="ember-view" href="http://www.bittitan.com/kb/KB004133" title="How do I migrate from Office 365?"><script id="metamorph-1818-start" type="text/x-placeholder"></script>How do I migrate from Office 365?<script id="metamorph-1818-end" type="text/x-placeholder"></script></a></li>
                            <script id="metamorph-1815-end" type="text/x-placeholder"></script><script id="metamorph-1816-start" type="text/x-placeholder"></script>
                            <li><a id="ember6472" class="ember-view" href="http://www.bittitan.com/kb/KB004134" title="How do I migrate to Office 365?"><script id="metamorph-1819-start" type="text/x-placeholder"></script>How do I migrate to Office 365?<script id="metamorph-1819-end" type="text/x-placeholder"></script></a></li>
                            <script id="metamorph-1816-end" type="text/x-placeholder"></script><script id="metamorph-1817-end" type="text/x-placeholder"></script>
                        </ul>
                    </div>
                    <p>
                        <small>
                            More articles here: <a href="https://community.bittitan.com/kb/SitePages/Knowledge%20Base.aspx?product=MigrationWiz" target="_blank">Knowledge Base</a></small>
                    </p>
            </div>

            <div class="col-lg-12 text-right">
                <a href="projects.html" class="btn btn-primary">Finish</a>
            </div>
        </div>





    </div>
</div>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
</div>


