---
title: Project
inner-navbar: true
project: true
---
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="i-mailbox"></i> &nbsp;Exchange 2007 to Office 365 Migration</h3>
            </div>
            <div class="panel-body Pan">
                <table class="table table-hover project-items Mbn">
                    <thead>
                    <tr>
                        <th class="w-30" style="width:35px"><input id="checkbox-master" class="ember-view ember-checkbox" type="checkbox"></th>
                        <th class="w-30" style="width:25px"><i class="i-star"></i></th>
                        <th>Source Item Identifier</th>
                        <th>Destination Item Identifier</th>
                        <th class="w-30"><i class="i-source" title="Source"></i></th>
                        <th class="w-30"><i class="i-destination" title="Destination"></i></th>
                        <th class="w-30"><script id="metamorph-1439-start" type="text/x-placeholder"></script>Items<script id="metamorph-1439-end" type="text/x-placeholder"></script></th>
                        <th class="w-30"><i class="i-stop text-grey-md" title="Not Migrated"></i></th>
                        <th class="w-30"><i class="i-user-waiting text-primary-md" title="Waiting for User"></i></th>
                        <th class="w-30"><i class="i-play text-info-md" title="Migrating"></i></th>
                        <th class="w-30"><i class="i-pause text-warning-md" title="Paused"></i></th>
                        <th class="w-30"><i class="i-check text-success-md" title="Completed"></i></th>
                        <th class="w-30"><i class="i-danger text-danger-md" title="Failed"></i></th>
                    </tr>
                    </thead>
                    <tbody id="selectable">
                    <tr><td><input id="ember5705" class="ember-view ember-checkbox" type="checkbox"></td><td><a href="#" class="i-star category-tag dropdown-toggle tag-0" data-bindattr-5707="5707" data-toggle="dropdown"></a></td>                  <td><a href="#"><span>foo@bar.co</span></a></td>
                        <td><a href="#"><span>foo@bar.co</span></a></td>
                        <td>
                            <i class="i-pst" data-bindattr-6299="6299"></i>
                        </td>
                        <td>
                            <i class="i-google" data-bindattr-6300="6300"></i>
                        </td>
                        <td>
                            <script id="metamorph-1444-start" type="text/x-placeholder"></script>-<script id="metamorph-1444-end" type="text/x-placeholder"></script>
                        </td>
                        <td>
                      <span class="text-grey-md" title="Not Migrated">
                        <script id="metamorph-1445-start" type="text/x-placeholder"></script>-<script id="metamorph-1445-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-primary-md" title="Waiting for User">
                        <script id="metamorph-1446-start" type="text/x-placeholder"></script>-<script id="metamorph-1446-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-info-md" title="Migrating">
                        <script id="metamorph-1447-start" type="text/x-placeholder"></script>-<script id="metamorph-1447-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-warning-md" title="Paused">
                        <script id="metamorph-1448-start" type="text/x-placeholder"></script>-<script id="metamorph-1448-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-success-md" title="Completed">
                        <script id="metamorph-1449-start" type="text/x-placeholder"></script>-<script id="metamorph-1449-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-danger-md" title="Failed">
                        <script id="metamorph-1450-start" type="text/x-placeholder"></script>-<script id="metamorph-1450-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                    </tr>
                    <tr><td><input id="ember5705" class="ember-view ember-checkbox" type="checkbox"></td><td><a href="#" class="i-star category-tag dropdown-toggle tag-0" data-bindattr-5707="5707" data-toggle="dropdown"></a></td>                         <td><a href="#"><span>foo@bar.co</span></a></td>
                        <td><a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19" title="asdf" data-bindattr-6301="6301"><i class="i-mailbox" data-bindattr-6302="6302" title="Mailbox"></i><span><script id="metamorph-1451-start" type="text/x-placeholder"></script> &nbsp;asdf<script id="metamorph-1451-end" type="text/x-placeholder"></script></span></a></td>
                        <td>
                            <i class="i-office-365" data-bindattr-6303="6303"></i>
                        </td>
                        <td>
                            <i class="i-office-365" data-bindattr-6304="6304"></i>
                        </td>
                        <td>
                            <script id="metamorph-1452-start" type="text/x-placeholder"></script>103<script id="metamorph-1452-end" type="text/x-placeholder"></script>
                        </td>
                        <td>
                      <span class="text-grey-md" title="Not Migrated">
                        <script id="metamorph-1453-start" type="text/x-placeholder"></script>99<script id="metamorph-1453-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-primary-md" title="Waiting for User">
                        <script id="metamorph-1454-start" type="text/x-placeholder"></script>-<script id="metamorph-1454-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-info-md" title="Migrating">
                        <script id="metamorph-1455-start" type="text/x-placeholder"></script>-<script id="metamorph-1455-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-warning-md" title="Paused">
                        <script id="metamorph-1456-start" type="text/x-placeholder"></script>-<script id="metamorph-1456-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-success-md" title="Completed">
                        <script id="metamorph-1457-start" type="text/x-placeholder"></script>-<script id="metamorph-1457-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-danger-md" title="Failed">
                        <script id="metamorph-1458-start" type="text/x-placeholder"></script>4<script id="metamorph-1458-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                    </tr>
                    <tr><td><input id="ember5705" class="ember-view ember-checkbox" type="checkbox"></td><td><a href="#" class="i-star category-tag dropdown-toggle tag-0" data-bindattr-5707="5707" data-toggle="dropdown"></a></td>                         <td><a href="#"><span>foo@bar.co</span></a></td>
                        <td><a href="/app/projects/228485bc-fe6a-11e4-9437-00155dc22c82" title="BitTitan Storage?" data-bindattr-6297="6297"><i class="i-archive" data-bindattr-6298="6298" title="Archive"></i><span><script id="metamorph-1443-start" type="text/x-placeholder"></script> &nbsp;BitTitan Storage?<script id="metamorph-1443-end" type="text/x-placeholder"></script></span></a></td>
                        <td>
                            <i class="i-pst" data-bindattr-6299="6299"></i>
                        </td>
                        <td>
                            <i class="i-google" data-bindattr-6300="6300"></i>
                        </td>
                        <td>
                            <script id="metamorph-1444-start" type="text/x-placeholder"></script>-<script id="metamorph-1444-end" type="text/x-placeholder"></script>
                        </td>
                        <td>
                      <span class="text-grey-md" title="Not Migrated">
                        <script id="metamorph-1445-start" type="text/x-placeholder"></script>-<script id="metamorph-1445-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-primary-md" title="Waiting for User">
                        <script id="metamorph-1446-start" type="text/x-placeholder"></script>-<script id="metamorph-1446-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-info-md" title="Migrating">
                        <script id="metamorph-1447-start" type="text/x-placeholder"></script>-<script id="metamorph-1447-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-warning-md" title="Paused">
                        <script id="metamorph-1448-start" type="text/x-placeholder"></script>-<script id="metamorph-1448-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-success-md" title="Completed">
                        <script id="metamorph-1449-start" type="text/x-placeholder"></script>-<script id="metamorph-1449-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-danger-md" title="Failed">
                        <script id="metamorph-1450-start" type="text/x-placeholder"></script>-<script id="metamorph-1450-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                    </tr>
                    <tr><td><input id="ember5705" class="ember-view ember-checkbox" type="checkbox"></td><td><a href="#" class="i-star category-tag dropdown-toggle tag-0" data-bindattr-5707="5707" data-toggle="dropdown"></a></td>                         <td><a href="#"><span>foo@bar.co</span></a></td>
                        <td><a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19" title="asdf" data-bindattr-6301="6301"><i class="i-mailbox" data-bindattr-6302="6302" title="Mailbox"></i><span><script id="metamorph-1451-start" type="text/x-placeholder"></script> &nbsp;asdf<script id="metamorph-1451-end" type="text/x-placeholder"></script></span></a></td>
                        <td>
                            <i class="i-office-365" data-bindattr-6303="6303"></i>
                        </td>
                        <td>
                            <i class="i-office-365" data-bindattr-6304="6304"></i>
                        </td>
                        <td>
                            <script id="metamorph-1452-start" type="text/x-placeholder"></script>103<script id="metamorph-1452-end" type="text/x-placeholder"></script>
                        </td>
                        <td>
                      <span class="text-grey-md" title="Not Migrated">
                        <script id="metamorph-1453-start" type="text/x-placeholder"></script>99<script id="metamorph-1453-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-primary-md" title="Waiting for User">
                        <script id="metamorph-1454-start" type="text/x-placeholder"></script>-<script id="metamorph-1454-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-info-md" title="Migrating">
                        <script id="metamorph-1455-start" type="text/x-placeholder"></script>-<script id="metamorph-1455-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-warning-md" title="Paused">
                        <script id="metamorph-1456-start" type="text/x-placeholder"></script>-<script id="metamorph-1456-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-success-md" title="Completed">
                        <script id="metamorph-1457-start" type="text/x-placeholder"></script>-<script id="metamorph-1457-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-danger-md" title="Failed">
                        <script id="metamorph-1458-start" type="text/x-placeholder"></script>4<script id="metamorph-1458-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                    </tr>
                    <tr><td><input id="ember5705" class="ember-view ember-checkbox" type="checkbox"></td><td><a href="#" class="i-star category-tag dropdown-toggle tag-0" data-bindattr-5707="5707" data-toggle="dropdown"></a></td>                         <td><a href="#"><span>foo@bar.co</span></a></td>
                        <td><a href="/app/projects/228485bc-fe6a-11e4-9437-00155dc22c82" title="BitTitan Storage?" data-bindattr-6297="6297"><i class="i-archive" data-bindattr-6298="6298" title="Archive"></i><span><script id="metamorph-1443-start" type="text/x-placeholder"></script> &nbsp;BitTitan Storage?<script id="metamorph-1443-end" type="text/x-placeholder"></script></span></a></td>
                        <td>
                            <i class="i-pst" data-bindattr-6299="6299"></i>
                        </td>
                        <td>
                            <i class="i-google" data-bindattr-6300="6300"></i>
                        </td>
                        <td>
                            <script id="metamorph-1444-start" type="text/x-placeholder"></script>-<script id="metamorph-1444-end" type="text/x-placeholder"></script>
                        </td>
                        <td>
                      <span class="text-grey-md" title="Not Migrated">
                        <script id="metamorph-1445-start" type="text/x-placeholder"></script>-<script id="metamorph-1445-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-primary-md" title="Waiting for User">
                        <script id="metamorph-1446-start" type="text/x-placeholder"></script>-<script id="metamorph-1446-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-info-md" title="Migrating">
                        <script id="metamorph-1447-start" type="text/x-placeholder"></script>-<script id="metamorph-1447-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-warning-md" title="Paused">
                        <script id="metamorph-1448-start" type="text/x-placeholder"></script>-<script id="metamorph-1448-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-success-md" title="Completed">
                        <script id="metamorph-1449-start" type="text/x-placeholder"></script>-<script id="metamorph-1449-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-danger-md" title="Failed">
                        <script id="metamorph-1450-start" type="text/x-placeholder"></script>-<script id="metamorph-1450-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                    </tr>
                    <tr><td><input id="ember5705" class="ember-view ember-checkbox" type="checkbox"></td><td><a href="#" class="i-star category-tag dropdown-toggle tag-0" data-bindattr-5707="5707" data-toggle="dropdown"></a></td>                         <td><a href="#"><span>foo@bar.co</span></a></td>
                        <td><a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19" title="asdf" data-bindattr-6301="6301"><i class="i-mailbox" data-bindattr-6302="6302" title="Mailbox"></i><span><script id="metamorph-1451-start" type="text/x-placeholder"></script> &nbsp;asdf<script id="metamorph-1451-end" type="text/x-placeholder"></script></span></a></td>
                        <td>
                            <i class="i-office-365" data-bindattr-6303="6303"></i>
                        </td>
                        <td>
                            <i class="i-office-365" data-bindattr-6304="6304"></i>
                        </td>
                        <td>
                            <script id="metamorph-1452-start" type="text/x-placeholder"></script>103<script id="metamorph-1452-end" type="text/x-placeholder"></script>
                        </td>
                        <td>
                      <span class="text-grey-md" title="Not Migrated">
                        <script id="metamorph-1453-start" type="text/x-placeholder"></script>99<script id="metamorph-1453-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-primary-md" title="Waiting for User">
                        <script id="metamorph-1454-start" type="text/x-placeholder"></script>-<script id="metamorph-1454-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-info-md" title="Migrating">
                        <script id="metamorph-1455-start" type="text/x-placeholder"></script>-<script id="metamorph-1455-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-warning-md" title="Paused">
                        <script id="metamorph-1456-start" type="text/x-placeholder"></script>-<script id="metamorph-1456-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-success-md" title="Completed">
                        <script id="metamorph-1457-start" type="text/x-placeholder"></script>-<script id="metamorph-1457-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-danger-md" title="Failed">
                        <script id="metamorph-1458-start" type="text/x-placeholder"></script>4<script id="metamorph-1458-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                    </tr>
                    <tr><td><input id="ember5705" class="ember-view ember-checkbox" type="checkbox"></td><td><a href="#" class="i-star category-tag dropdown-toggle tag-0" data-bindattr-5707="5707" data-toggle="dropdown"></a></td>                         <td><a href="#"><span>foo@bar.co</span></a></td>
                        <td><a href="/app/projects/228485bc-fe6a-11e4-9437-00155dc22c82" title="BitTitan Storage?" data-bindattr-6297="6297"><i class="i-archive" data-bindattr-6298="6298" title="Archive"></i><span><script id="metamorph-1443-start" type="text/x-placeholder"></script> &nbsp;BitTitan Storage?<script id="metamorph-1443-end" type="text/x-placeholder"></script></span></a></td>
                        <td>
                            <i class="i-pst" data-bindattr-6299="6299"></i>
                        </td>
                        <td>
                            <i class="i-google" data-bindattr-6300="6300"></i>
                        </td>
                        <td>
                            <script id="metamorph-1444-start" type="text/x-placeholder"></script>-<script id="metamorph-1444-end" type="text/x-placeholder"></script>
                        </td>
                        <td>
                      <span class="text-grey-md" title="Not Migrated">
                        <script id="metamorph-1445-start" type="text/x-placeholder"></script>-<script id="metamorph-1445-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-primary-md" title="Waiting for User">
                        <script id="metamorph-1446-start" type="text/x-placeholder"></script>-<script id="metamorph-1446-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-info-md" title="Migrating">
                        <script id="metamorph-1447-start" type="text/x-placeholder"></script>-<script id="metamorph-1447-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-warning-md" title="Paused">
                        <script id="metamorph-1448-start" type="text/x-placeholder"></script>-<script id="metamorph-1448-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-success-md" title="Completed">
                        <script id="metamorph-1449-start" type="text/x-placeholder"></script>-<script id="metamorph-1449-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-danger-md" title="Failed">
                        <script id="metamorph-1450-start" type="text/x-placeholder"></script>-<script id="metamorph-1450-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                    </tr>
                    <tr><td><input id="ember5705" class="ember-view ember-checkbox" type="checkbox"></td><td><a href="#" class="i-star category-tag dropdown-toggle tag-0" data-bindattr-5707="5707" data-toggle="dropdown"></a></td>                         <td><a href="#"><span>foo@bar.co</span></a></td>
                        <td><a href="/app/projects/0082a1f2-6c56-11e4-942a-00155dc71f19" title="asdf" data-bindattr-6301="6301"><i class="i-mailbox" data-bindattr-6302="6302" title="Mailbox"></i><span><script id="metamorph-1451-start" type="text/x-placeholder"></script> &nbsp;asdf<script id="metamorph-1451-end" type="text/x-placeholder"></script></span></a></td>
                        <td>
                            <i class="i-office-365" data-bindattr-6303="6303"></i>
                        </td>
                        <td>
                            <i class="i-office-365" data-bindattr-6304="6304"></i>
                        </td>
                        <td>
                            <script id="metamorph-1452-start" type="text/x-placeholder"></script>103<script id="metamorph-1452-end" type="text/x-placeholder"></script>
                        </td>
                        <td>
                      <span class="text-grey-md" title="Not Migrated">
                        <script id="metamorph-1453-start" type="text/x-placeholder"></script>99<script id="metamorph-1453-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-primary-md" title="Waiting for User">
                        <script id="metamorph-1454-start" type="text/x-placeholder"></script>-<script id="metamorph-1454-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-info-md" title="Migrating">
                        <script id="metamorph-1455-start" type="text/x-placeholder"></script>-<script id="metamorph-1455-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-warning-md" title="Paused">
                        <script id="metamorph-1456-start" type="text/x-placeholder"></script>-<script id="metamorph-1456-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-success-md" title="Completed">
                        <script id="metamorph-1457-start" type="text/x-placeholder"></script>-<script id="metamorph-1457-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                        <td>
                      <span class="text-danger-md" title="Failed">
                        <script id="metamorph-1458-start" type="text/x-placeholder"></script>4<script id="metamorph-1458-end" type="text/x-placeholder"></script>
                      </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script>
    $('#left').addClass('open');
</script>
