---
title: Project
inner-navbar: true
inner-navbar-2: false
project: true
left-open: true
left: true
---

<style>
    .category-tag {
        padding: 4px 7px;
        cursor: pointer;
    }
    .tag-0 {
        color: #ccc;
    }
    .tag-1 {
        color: #f63723 !important;
    }
    .tag-2 {
        color: #80b856 !important;
    }
    .tag-3 {
        color: #4ba3ff !important;
    }
    .tag-4 {
        color: #ffa62f !important;
    }
    .tag-5 {
        color: #5254a3 !important;
    }
    .tag-6 {
        color: #00cca3 !important;
    }
</style>

<div class="row" style="padding-top:44px">
    <div class="col-xs-12">
        <div class="panel panel-default" style="border-radius:0">
            <div class="panel-heading" style="border-radius:0">
                <h3 class="panel-title" style="padding-left:2px"><i class="i-mailbox"></i>&nbsp;
                    BitTitan Migration Project #3245
                    &nbsp;<em class=subdued>&mdash;&nbsp; Exchange 2007 to Office 365 Migration</em></h3>
            </div>
            <div class="panel-body Pan">
                <table class="table table-hover headstuck project-items Mbn">
                    <thead>
                    <tr>
                        <th class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top: -15px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </th>
                        <th class="w-30">
                            <i class="i-star category-tag tag-0" style="position:relative;left:-1px"></i>
                        </th>
                        <th class="">
                            Source Email
                            <i class="i-sort"></i>
                        </th>

                        <th>
                            Destination Email
                            <i class="i-sort"></i>
                        </th>
                        <th>
                            Last Updated
                            <i class="i-sort"></i>
                        </th>
                        <th>
                            Migrated
                        </th>
                        <th style="text-align:center">
                            Errors
                        </th>
                        <th class="width-15">
                            Status
                            <i class="i-sort"></i>
                        </th>
                        <th class="" style="width: 60px">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody id="selectable">
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    <tr class="tr-row" style="height: 30px"><td class="display-none"></td>
                        <td class="w-30">
                            <label class="checkbox" style="margin:0;padding:0;top:1px;left: -2px;">
                                <input type="checkbox" style="margin-left:-2px">
                            </label>
                        </td>
                        <td class="w-30" style="overflow: visible;">

                            <div class="category-tag-selector dropdown"><a id="dropdownMenu1" href="#" class="i-star category-tag dropdown-toggle tag-1" data-toggle="dropdown"></a>

                                <ul id="dropdown" class="dropdown-menu category-tags text-center" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="text-center">Remove</a>
                                        <span class="i-star category-tag tag-1 active"></span>
                                        <span class="i-star category-tag tag-2"></span>
                                        <span class="i-star category-tag tag-3"></span>
                                        <span class="i-star category-tag tag-4"></span>
                                        <span class="i-star category-tag tag-5"></span>
                                        <span class="i-star category-tag tag-6"></span>
                                        <p class="text-center mts">
                                            <small>
                                                <a href="http://www.bittitan.com/kb/KB005059" title="What are the stars in MigrationWiz dashboard used for?">
                                                    What's this?
                                                </a>
                                            </small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="">
                            <a href="#">asdf@af.co</a>
                        </td>
                        <td class="" style="text-align: left">
                            <a href="#">asdf@af.co</a>
                        </td>

                        <td class="" style="text-align: left">
                            Dec 17th, 2014 5:29pm
                        </td>
                        <td class="" style="text-align: left">
                            0 bytes
                        </td>
                        <td class="cursor-pointer help-modal" style="text-align:center">
                            <span class="text-danger underline">1</span>
                        </td>
                        <td class="width-15" style="text-align: left">
                            <span class="text-danger" title="Failed" data-bindattr-5755="5755">
                                <i class="icon-space i-danger" data-bindattr-5756="5756"></i>
                                <a href="#">Failed</a>
                            </span>
                        </td>
                        <td class="action extra-wide" style="text-align:right">
                            <a class="i-edit" href="#" title="Edit Item" style="padding: 2px 3px"></a>
                            <a class="i-trash" href="#" title="Delete Item" style="padding: 2px 3px"></a>
                            <a href="#" class="i-journal" target="_blank" title="View Logs" style="padding: 2px 3px"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
//    var $trRow = $('.tr-row');
//    for (var i = 0; i < 5; i++) {
//        $trRow.clone().insertAfter('.tr-row');
//    }
</script>
