---
title: Projects
default: true
inner-navbar: false
inner-navbar-2: true
left-open: true
---
<style>
    #content {
        white-space: inherit;
    }
</style>


<div class="row" style="padding-top:45px">
    <div class="col-xs-12">
        <table class="table bg-white project-list headstuck mbn">
            <thead>
            <tr>
                <th>Project Name</th>
                <th class="w-30"><i class="i-source" title="Source"></i></th>
                <th class="w-30"><i class="i-destination" title="Destination"></i></th>
                <th class="w-30">Items</th>
                <th class="w-30"><i class="i-stop text-grey" title="Not Migrated"></i></th>
                <th class="w-30"><i class="i-user-waiting text-primary" title="Waiting for User"></i></th>
                <th class="w-30"><i class="i-play text-info" title="Migrating"></i></th>
                <th class="w-30"><i class="i-pause text-warning" title="Paused"></i></th>
                <th class="w-30"><i class="i-check text-success" title="Completed"></i></th>
                <th class="w-30"><i class="i-danger text-danger" title="Failed"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            <tr>
                <td><a href="project.html" title="BitTitan Storage"><i class="i-archive" title="Archive"></i><span> &nbsp;BitTitan Storage</span></a></td>
                <td>
                    <i class="i-pst"></i>
                </td>
                <td>
                    <i class="i-google"></i>
                </td>
                <td>
                    -
                </td>
                <td>
                      <span class="text-grey" title="Not Migrated">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-primary" title="Waiting for User">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-info" title="Migrating">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-warning" title="Paused">
                        -
                      </span>
                </td>
                <td>
                      <span class="text-success" title="Completed">
                        -
                      </span>
                </td>
                <td>
                            <span class="text-danger" title="Failed">
                                4
                            </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



<br><br><br><br><br>
<br><br><br><br><br>

<script>
    $('body').addClass('has-second-navbar');
</script>
