---
title: Purchase Licenses
default: false
left-nav: false
createProject: false
purchaseLicenses: true
inner-navbar: false
inner-navbar-2: false
left-open: true
---
<script>
    $(document).ready(function () {
        $('.hipaa').on('mousedown', function () {
            $(this).find('input[type=checkbox]').prop("checked", !$(this).find('input[type=checkbox]').prop("checked"));
        });
        $('.list-group-item').on('click', function () {
            $(this).find('input[type=number]').focus().select();
        });
    });
</script>

<div class="pal">
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <span class="pull-right ptm">Current Subtotal: $324.81</span>
                <li class="active"><a href="#home" data-toggle="tab">Select Licenses</a></li>
                <li><a href="#profile" data-toggle="tab">Billing Information</a></li>
                <li><a href="#dropdown1" data-toggle="tab">Complete Purchase</a></li>
            </ul>
            <div class="panel panel-info">
                <div class="panel-body bg-white panel-borders">

                    <div id="myTabContent" class="tab-content bg-white">
                        <div class="tab-pane fade active in" id="home">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8">
                                            <h4 class="list-group-item-heading"><i class="i-mailbox"></i> &nbsp;Mailbox Migration</h4>
                                            <p class="list-group-item-text">
                                                <i class="i-license"></i>&nbsp;
                                                150 Mailbox Licenses Remaining.
                                                Migrates up to 50 GB with up to 10 migration passes per license.
                                            </p>
                                            <p class="ptm mbn hipaa">
                                                <input type="checkbox"/>&nbsp;
                                                Add HIPAA Compliance
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm text-center">
                                            <h3 class="text-success man">$11.99</h3>
                                            <small>Per License</small>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm mts">
                                            <input type="number" class="form-control" value="0">
                                        </div>
                                    </div>



                                </a>
                                <a class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8">
                                            <h4 class="list-group-item-heading"><i class="i-mailbox"></i> &nbsp;Mailbox Migration</h4>
                                            <p class="list-group-item-text">
                                                <i class="i-license"></i>&nbsp;
                                                150 Mailbox Licenses Remaining.
                                                Migrates up to 50 GB with up to 10 migration passes per license.
                                            </p>
                                            <p class="ptm mbn hipaa">
                                                <input type="checkbox"/>&nbsp;
                                                Add HIPAA Compliance
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm text-center">
                                            <h3 class="text-success man">$11.99</h3>
                                            <small>Per License</small>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm mts">
                                            <input type="number" class="form-control" value="0">
                                        </div>
                                    </div>



                                </a>
                                <a class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8">
                                            <h4 class="list-group-item-heading"><i class="i-mailbox"></i> &nbsp;Mailbox Migration</h4>
                                            <p class="list-group-item-text">
                                                <i class="i-license"></i>&nbsp;
                                                150 Mailbox Licenses Remaining.
                                                Migrates up to 50 GB with up to 10 migration passes per license.
                                            </p>
                                            <p class="ptm mbn hipaa">
                                                <input type="checkbox"/>&nbsp;
                                                Add HIPAA Compliance
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm text-center">
                                            <h3 class="text-success man">$11.99</h3>
                                            <small>Per License</small>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm mts">
                                            <input type="number" class="form-control" value="0">
                                        </div>
                                    </div>



                                </a>
                                <a class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8">
                                            <h4 class="list-group-item-heading"><i class="i-mailbox"></i> &nbsp;Mailbox Migration</h4>
                                            <p class="list-group-item-text">
                                                <i class="i-license"></i>&nbsp;
                                                150 Mailbox Licenses Remaining.
                                                Migrates up to 50 GB with up to 10 migration passes per license.
                                            </p>
                                            <p class="ptm mbn hipaa">
                                                <input type="checkbox"/>&nbsp;
                                                Add HIPAA Compliance
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm text-center">
                                            <h3 class="text-success man">$11.99</h3>
                                            <small>Per License</small>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm mts">
                                            <input type="number" class="form-control" value="0">
                                        </div>
                                    </div>



                                </a>
                                <a class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8">
                                            <h4 class="list-group-item-heading"><i class="i-mailbox"></i> &nbsp;Mailbox Migration</h4>
                                            <p class="list-group-item-text">
                                                <i class="i-license"></i>&nbsp;
                                                150 Mailbox Licenses Remaining.
                                                Migrates up to 50 GB with up to 10 migration passes per license.
                                            </p>
                                            <p class="ptm mbn hipaa">
                                                <input type="checkbox"/>&nbsp;
                                                Add HIPAA Compliance
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm text-center">
                                            <h3 class="text-success man">$11.99</h3>
                                            <small>Per License</small>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm mts">
                                            <input type="number" class="form-control" value="0">
                                        </div>
                                    </div>



                                </a>
                                <a class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8">
                                            <h4 class="list-group-item-heading"><i class="i-mailbox"></i> &nbsp;Mailbox Migration</h4>
                                            <p class="list-group-item-text">
                                                <i class="i-license"></i>&nbsp;
                                                150 Mailbox Licenses Remaining.
                                                Migrates up to 50 GB with up to 10 migration passes per license.
                                            </p>
                                            <p class="ptm mbn hipaa">
                                                <input type="checkbox"/>&nbsp;
                                                Add HIPAA Compliance
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm text-center">
                                            <h3 class="text-success man">$11.99</h3>
                                            <small>Per License</small>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm mts">
                                            <input type="number" class="form-control" value="0">
                                        </div>
                                    </div>



                                </a>
                                <a class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8">
                                            <h4 class="list-group-item-heading"><i class="i-mailbox"></i> &nbsp;Mailbox Migration</h4>
                                            <p class="list-group-item-text">
                                                <i class="i-license"></i>&nbsp;
                                                150 Mailbox Licenses Remaining.
                                                Migrates up to 50 GB with up to 10 migration passes per license.
                                            </p>
                                            <p class="ptm mbn hipaa">
                                                <input type="checkbox"/>&nbsp;
                                                Add HIPAA Compliance
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm text-center">
                                            <h3 class="text-success man">$11.99</h3>
                                            <small>Per License</small>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm mts">
                                            <input type="number" class="form-control" value="0">
                                        </div>
                                    </div>



                                </a>
                                <a class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8">
                                            <h4 class="list-group-item-heading"><i class="i-mailbox"></i> &nbsp;Mailbox Migration</h4>
                                            <p class="list-group-item-text">
                                                <i class="i-license"></i>&nbsp;
                                                150 Mailbox Licenses Remaining.
                                                Migrates up to 50 GB with up to 10 migration passes per license.
                                            </p>
                                            <p class="ptm mbn hipaa">
                                                <input type="checkbox"/>&nbsp;
                                                Add HIPAA Compliance
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm text-center">
                                            <h3 class="text-success man">$11.99</h3>
                                            <small>Per License</small>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm mts">
                                            <input type="number" class="form-control" value="0">
                                        </div>
                                    </div>



                                </a>
                                <a class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8">
                                            <h4 class="list-group-item-heading"><i class="i-mailbox"></i> &nbsp;Mailbox Migration</h4>
                                            <p class="list-group-item-text">
                                                <i class="i-license"></i>&nbsp;
                                                150 Mailbox Licenses Remaining.
                                                Migrates up to 50 GB with up to 10 migration passes per license.
                                            </p>
                                            <p class="ptm mbn hipaa">
                                                <input type="checkbox"/>&nbsp;
                                                Add HIPAA Compliance
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm text-center">
                                            <h3 class="text-success man">$11.99</h3>
                                            <small>Per License</small>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm mts">
                                            <input type="number" class="form-control" value="0">
                                        </div>
                                    </div>



                                </a>
                                <a class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-8">
                                            <h4 class="list-group-item-heading"><i class="i-mailbox"></i> &nbsp;Mailbox Migration</h4>
                                            <p class="list-group-item-text">
                                                <i class="i-license"></i>&nbsp;
                                                150 Mailbox Licenses Remaining.
                                                Migrates up to 50 GB with up to 10 migration passes per license.
                                            </p>
                                            <p class="ptm mbn hipaa">
                                                <input type="checkbox"/>&nbsp;
                                                Add HIPAA Compliance
                                            </p>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm text-center">
                                            <h3 class="text-success man">$11.99</h3>
                                            <small>Per License</small>
                                        </div>
                                        <div class="col-xs-3 col-md-2 ptm mts">
                                            <input type="number" class="form-control" value="0">
                                        </div>
                                    </div>



                                </a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <div class="list-group">


                            </div>
                        </div>
                        <div class="tab-pane fade" id="dropdown1">
                            <div class="list-group">


                            </div>
                        </div>
                        <p class="pull-right ptm">
                            <a href="#" class="btn btn-default">Cancel</a>
                            <a href="#" class="btn btn-primary">Next</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Pricing Summary</h3>
                </div>
                <div class="panel-body bg-white">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><script id="metamorph-2303-start" type="text/x-placeholder"></script>License Type<script id="metamorph-2303-end" type="text/x-placeholder"></script></th>
                            <th class="text-right"><script id="metamorph-2304-start" type="text/x-placeholder"></script>Quantity<script id="metamorph-2304-end" type="text/x-placeholder"></script></th>
                            <th class="text-right"><script id="metamorph-2305-start" type="text/x-placeholder"></script>Price<script id="metamorph-2305-end" type="text/x-placeholder"></script></th>
                        </tr>
                        </thead>
                        <tbody>
                        <script id="metamorph-2307-start" type="text/x-placeholder"></script><script id="metamorph-2306-start" type="text/x-placeholder"></script>
                        <tr>
                            <td><script id="metamorph-2308-start" type="text/x-placeholder"></script>Mailbox Migration<script id="metamorph-2308-end" type="text/x-placeholder"></script></td>
                            <td class="text-right"><script id="metamorph-2309-start" type="text/x-placeholder"></script>1<script id="metamorph-2309-end" type="text/x-placeholder"></script></td>
                            <td class="text-right"><script id="metamorph-2310-start" type="text/x-placeholder"></script>$11.39<script id="metamorph-2310-end" type="text/x-placeholder"></script></td>
                        </tr>
                        <script id="metamorph-2306-end" type="text/x-placeholder"></script><script id="metamorph-2307-end" type="text/x-placeholder"></script>
                        <tr>
                            <td><script id="metamorph-2311-start" type="text/x-placeholder"></script>Tax<script id="metamorph-2311-end" type="text/x-placeholder"></script></td>
                            <td colspan="2" class="text-right"><script id="metamorph-2312-start" type="text/x-placeholder"></script>$0.00<script id="metamorph-2312-end" type="text/x-placeholder"></script></td>
                        </tr>
                        <tr>
                            <th><script id="metamorph-2313-start" type="text/x-placeholder"></script>Subtotal<script id="metamorph-2313-end" type="text/x-placeholder"></script></th>
                            <th colspan="2" class="text-right"><script id="metamorph-2314-start" type="text/x-placeholder"></script>$11.39<script id="metamorph-2314-end" type="text/x-placeholder"></script></th>
                        </tr>
                        </tbody>
                    </table>
                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-default">Cancel</a>
                        <a href="#" class="btn btn-primary">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

