---
title: Source Settings
default: false
createProject: true
inner-navbar: false
inner-navbar-2: false
left-open: true
---
<style>
    #content {
        white-space: inherit;
    }
    a.btn-primary,
    a.btn-primary:hover {
        color: #eee;
    }
</style>

<div class="pal">

    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
</div>


